/* _fonts.scss */

@font-face {
    font-family: 'Rubrik_ExtraLight';
    src: url('../fonts/rubrik/Rubrik_ExtraLight.eot');
    src: url('../fonts/rubrik/Rubrik_ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubrik/Rubrik_ExtraLight.woff') format('woff'),
         url('../fonts/rubrik/Rubrik_ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubrik_Medium';
    src: url('../fonts/rubrik/Rubrik_Light.eot');
    src: url('../fonts/rubrik/Rubrik_Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubrik/Rubrik_Light.woff') format('woff'),
         url('../fonts/rubrik/Rubrik_Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verlag_Book';
    src: url('../fonts/verlag/Verlag_Book.eot');
    src: url('../fonts/verlag/Verlag_Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/verlag/Verlag_Book.woff') format('woff'),
         url('../fonts/verlag/Verlag_Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'AmericanTypewriter';
    src: url('../fonts/americantype/ameritypmed-webfont.eot');
    src: url('../fonts/americantype/ameritypmed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/americantype/ameritypmed-webfont.woff') format('woff'),
         url('../fonts/americantype/ameritypmed-webfont.ttf') format('truetype'),
         url('../fonts/americantype/ameritypmed-webfont.svg#itc_american_typewriterRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
    

@font-face {
    font-family: 'AmericanTypewriter-Bold';
    src: url('../fonts/americantype/ameritypbol-webfont.eot');
    src: url('../fonts/americantype/ameritypbol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/americantype/ameritypbol-webfont.woff') format('woff'),
         url('../fonts/americantype/ameritypbol-webfont.ttf') format('truetype'),
         url('../fonts/americantype/ameritypbol-webfont.svg#AmericanTypewriter-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}








           