/* _form-header.scss */

.main-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	background: $medium-black;
	margin: 0;
	padding: 0;
	z-index: 1;

	.logo {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		transition: height .5s ease, border .5s ease;
	}

	.title {
		position: absolute;
		top: 0;
		left: 0;
		width: 400%;
		height: 100%;
		z-index: 0;
		transition: left 1s ease;

		h2 {
			position: relative;
			float: left;
			width: 25%;
			color: #fff;
			font-size: 1.12rem;
			font-weight: normal; 
			text-align: center;
			text-transform: uppercase;
			line-height: 45px;
			margin: 0;
			padding: 0;
			pointer-events: none;
		}
	}

	.action {
		position: relative;
		float: right;
		width: 40px;
		height: 45px;
		
		background-size: 24px auto;
		background-repeat: no-repeat;
		background-position: 50% 50%;

		&.lang {
			background-image: url('../images/lang-en.png');
		}

		.icon {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: inherit;
			background-repeat: inherit;
			background-position: inherit;
		}

		&.import {
			.icon {
				background-image: url('../images/import.png');
			}
			input {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}
	}
}

.no1 .main-header {
	.logo {
		height: 75px;
		border: solid 10px $medium-black;
	}
}

.no2 .main-header,
.no3 .main-header {
	.logo {
		height: 45px;
		border: solid 0px $medium-black;
	}
}

[lang="en"] .main-header .action.lang {
	background-image: url('../images/lang-fr.png');
}