/* _style-guide.scss */

$lp-red: #e80901;
$lp-grey: #898788;

$bg-grey: #eaeaea;

$medium-grey: #ccc;
$dark-grey: #888;

$medium-black: #232323;

$valid-green: #0f7801;
$focus: rgb(77, 144, 254);

$optional: #ffefc6;

$radius: 6px;

$speed: .5s;

//Galeries

$gal-legal: #4D4D4D;
$gal-grey: #333333;

$front-title-quart: normal normal 16px/18px AmericanTypewriter;
$front-subtitle-quart: normal normal 23px/23px AmericanTypewriter-Bold;
$front-price-quart: normal normal 33px/29px AmericanTypewriter-Bold;
$front-caption-quart: normal normal 12px/12px AmericanTypewriter;

$back-title-quart: normal normal 19px/18px AmericanTypewriter;
$back-subtitle-quart: normal normal 23px/23px AmericanTypewriter-Bold;
$back-price-quart: normal normal 33px/29px AmericanTypewriter-Bold;
$back-caption-quart: normal normal 12px/14px AmericanTypewriter;
$back-infos-quart: normal normal 15px/20px AmericanTypewriter;

