@import '_reset';
@import '_style-guide';

body {
	opacity: 0; 
	-webkit-transition: opacity .3s ease;
	background: #b1b3ba;
	overflow-x: hidden;
}

body.lp-loaded {
	opacity: 1;
} 


.quart{
	width: 480px;
	height: 325px;
}

.quart .logo {
	width: 165px;
	height: 75px;
}

.quart .description {
	height: 78px;
}

.huitieme-v,
.huitieme-v .wrapperFlip,
.huitieme-v .flip,
.huitieme-v .front,
.huitieme-v .back {
	width: 230px;
	height: 325px;
}

.huitieme-v .logo {
	width: 100px;
	height: 35px;
}

.huitieme-v .back .logo {
	width: 100px;
	height: 40px;
	top: 277px;
	left: 72px;
}

.huitieme-v .description {
	height: 104px;
}

.huitieme-v .description .subtitle {
	font: normal bold 18px/16px helvetica, sans-serif;
	height: 35px;
}

.huitieme-v .description div:nth-child(2) {
	float: none;
}

.huitieme-v .description .price {
	float: none;
	font: normal bold 28px/29px helvetica, sans-serif;
}

.huitieme-v .back .description .price {
	position: absolute;
	top: 104px;
	left: 50px;
	float: none;
	font: normal bold 28px/29px helvetica, sans-serif;
}

.huitieme-v .description .caption,
.huitieme-v .back .description .caption  {
	position: absolute;
	top: 84px;
	left: 57px;
	display: block;
	vertical-align: initial;
	width: auto;
	float: none;
	// font: normal bold 28px/29px helvetica, sans-serif;
}

.huitieme-v .back .description .caption  {
	position: absolute;
	top: 96px;
	left: 51px;
	display: block;
	vertical-align: initial;
	width: auto;
	float: none;
	// font: normal bold 28px/29px helvetica, sans-serif;
}

.huitieme-v .back .description .title,
.huitieme-v .back .description .subtitle  {
	font: normal normal 18px/16px helvetica, sans-serif;
}

.huitieme-v .back .description .subtitle  {
	font: normal normal 18px/16px helvetica, sans-serif;
}

.huitieme-v .back .description .infos {
	font: normal normal 14px/17px helvetica, sans-serif;
	-webkit-line-clamp: 7;
	position: absolute;
	top: 147px;
	left: 19px;
	width: 200px;
}

.huitieme-v .back .description {
	padding: 14px 19px 10px 27px;
}

.huitieme-v .back .description .title {
	height: 21px;
}

.huitieme-v .back .description .rating {
	height: 81px;
	padding: 8px 0 0 25px;
}


.huitieme-h,
.huitieme-h .wrapperFlip,
.huitieme-h .flip,
.huitieme-h .front,
.huitieme-h .back,
.huitieme-h .gallery,
.huitieme-h .gallery .scroller > div {
	width: 480px;
	height: 152px;
}

.huitieme-h .description {
	width: 152px;
	height: 152px;
}

.huitieme-h .description .title {
	font: normal normal 17px/18px helvetica, sans-serif;
}

.huitieme-h .description .subtitle {
	font: normal bold 18px/20px helvetica, sans-serif;
}

.huitieme-h .description .price {
	font: normal bold 28px/26px helvetica, sans-serif;
}

.huitieme-h .description .opposite .caption {
	height: 48px;
}

.lp-ad {
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	margin: 0 auto;
	overflow: hidden;
}

.lp-view {
	position: absolute;
	background-repeat: no-repeat;
	z-index: 0;
}

//Juste pour tester le layer avec les maquettes #overlay
#overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	// width: 480px;
	width: 480px;
	height: 152px;
	z-index: 100000;
	// opacity: 0.3;
	opacity: 0;
	pointer-events: none;
}
		/*=== RETOURNER css | debut ====================*/
		.wrapperFlip { 
			-webkit-perspective: 0; 
		} 
		.flip { 
			-webkit-transition: -webkit-transform 1s; 
			-webkit-transform-style: preserve-3d; 

			.front, .back { 
				position: absolute; 
				top: 0; left: 0; 
				-webkit-backface-visibility: hidden; 
			} 

			* { 
				-webkit-backface-visibility: hidden; 
			} 
		} 

		.flip.active, 
		.back { 
			-webkit-transform: rotateY(180deg); 
		}

		.flipped .back {
			-webkit-transition: -webkit-transform 0s;
			-webkit-transform: translateZ(-2px) rotateY(-180deg); 
		}

		/*=== RETOURNER css | fin ====================*/


/*=== GALERIE css | debut ====================*/
.logo {
	position: absolute;
	z-index: 3;
	top:0;
	left:0;
	pointer-events: none;
}

.gallery { 
	width: 480px; 
	height: 325px; 
	background: rgba(0,0,0,0); 
	z-index: 0;
		.scroller { 
			position: relative; 
			float: left; 
			height: 100%; 
			z-index: 0; 
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-text-size-adjust: none;
			-moz-text-size-adjust: none;
			-ms-text-size-adjust: none;
			-o-text-size-adjust: none;
			text-size-adjust: none;			
		} 
		.scroller > div
		 { 
		 	float: left;
		 	width: 480px;
		 	height: 325px;
			position: relative !important;  
			margin: 0; 
			background: rgba(255,255,255,1); 
		}
} 
 
.pager-wrapper { 
	position: absolute; 
	top: 239px; 
	left: 0px; 
	width: 480px; 
	text-align: center; 
	z-index: 1; 
	opacity: 1;
	pointer-events: none;

		.pager { 
			position: relative; 
			display: inline-block; 
			background: rgba(0, 0, 0, 1); 
			list-style: none; 
			padding: 4px;
			border-radius: 7.5px;

			li { 
				position: relative; 
				float: left; 
				width: 5px; 
				height: 5px; 
				font-size: 0; 
				background: rgba(110, 110, 110, 1); 
				border-radius: 50%; 
				margin: 0 5px; 
				-webkit-transform: translate3d(0,0,0); 
				-webkit-transition: background .3s ease; 
			} 
			li.selected { 
				background: rgba(255,255,255,1); 
			}
		}
} 

.description {
	float: left;
	background: rgba(255,255,255,1);
	width: 100%;
	padding: 7px 10px 10px 15px;
	// padding: 0px 10px 10px 15px;

	div:nth-child(1) {
		float: left;
	}

	div:nth-child(2) {
		float: right;
		text-align: right;
	}

	.title:first-letter{
		text-transform: uppercase;
	}

	.title {
		// display:table-cell;
		// vertical-align: bottom;
		// height: 48px;
		color: $gal-title;
		font: normal normal 18px/21px helvetica, sans-serif;
	}

	.subtitle {
		display:table-cell;
		vertical-align: bottom;	
		height: 40px; // ajout	
		color: $gal-title;
		font: normal bold 23px/23px helvetica, sans-serif;
	}	

	.opposite .subtitle {
		display:block;
		vertical-align: initial;	
		height: auto; // ajout	
	}

	.opposite .title {
		// display:table-cell;
		// vertical-align: bottom;	
		// height: 40px; // ajout	
	}	

	.caption {
		display:table-cell;
		vertical-align: bottom;	
		width: 111px;
		// height: 35px;	
		height: 30px;	
		color: $gal-title;
		font: normal normal 12px/12px helvetica, sans-serif;
		text-transform: uppercase;
	}

	.price {
		color: $gal-price;
		font: normal bold 33px/29px helvetica, sans-serif;
	}	

	.price:after {
		font-size: 60%;
		vertical-align: super;
		content: "$";
	}
}

// AUTRES FORMATS

// 1/4 sans offre
.quart-une-offre .front .description {
	float: none;
	position: absolute;
	bottom: 0;
}

.quart-une-offre .back {
	background-color: rgba(255,255,255,1);
}

//1/8 V

.huitieme-v .front .description {
	float: none;
	position: absolute;
	bottom: 0;
}

.huitieme-v .back {
	background-color: rgba(255,255,255,1);
}



.back {

	.description {
		// padding: 0px 19px 10px 29px;
		padding: 22px 19px 10px 29px;

		div:nth-child(2) {
			// position:absolute;
		}		

		.title {
			// height: 50px;
			height: 25px;
			// font: normal normal 22px/21px helvetica, sans-serif;
			font: normal normal 22px/29px helvetica, sans-serif;
		}
		.subtitle {
			// font: normal bold 28px/38px helvetica, sans-serif;
			font: normal bold 28px/32px helvetica, sans-serif;
		}
		.title, .subtitle {
			padding: 0 0 0 24px;
		}

		.caption {
			height: 46px;
			font: normal normal 12px/14px helvetica, sans-serif;
			width:auto; //ajout;
		}

		.price {
			font: normal bold 33px/20px helvetica, sans-serif;
		}

		.infos {
			float: left;
			display: -webkit-box;
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			font: normal normal 15px/20px helvetica, sans-serif;
			height: 120px;
			width: 100%;
			color: $gal-price;
		}
		.rating {
			float: left;
			clear: both;
			// height: 37px;
			height: 50px;
			// padding: 2px 0 0 25px;
			padding: 14px 0 0 25px;
		}
	}

	.pager-wrapper {
		top: 297px;
	}	

	.logo {
		position: absolute;
		z-index: 3;
		top: 265px;
		left: 305px;
		width: 115px;
		height: 55px;
		background-size: contain;
		pointer-events: none;
	}
}
/*=== GALERIE css | fin ====================*/


/*=== LEGAL css | debut ==========================*/
	.lp-legal-bg {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 480px;
		height: 325px;
		background: rgba(0,0,0,.5);
		opacity: 0;
		cursor: pointer;
		z-index: 9998;
		-webkit-transform: translate3d(0,450px,0);
		-webkit-transition: opacity .5s ease, -webkit-transform 0 .5s linear;
	}

	.lp-legal-bg.lp-legal-active {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		-webkit-transition: opacity .5s ease, -webkit-transform 0 0 linear;
	}

	.lp-legal {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 65px;
		font-family: helvetica, arial, sans-serif;
		color: #868889;
		z-index: 9999;
		-webkit-transform: translate3d(0,204px,0);
		-webkit-transition: -webkit-transform .5s ease;
	}

	.lp-legal.lp-legal-active {
		-webkit-transform: translate3d(0,0,0);
	}

	.lp-legal-btn {
		position: absolute;
		top: -20px;
		left: 0;
		width: 50px;
		height: 21px;
		background: #f1f1f1;
		font-size: 12px;
		text-align: center;
		text-transform: uppercase;
		line-height: 175%;
		cursor: pointer;
	}

	.lp-legal-text {
		position: relative;
		float: left;
		width: 480px;
		height: 65px;
		background: #f1f1f1;
		font-size: 11px;
		text-align: justify;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 5px;
		-webkit-overflow-scrolling: touch;
		overflow: auto;
	}

	.legalOpen .pager-wrapper {
		opacity: 0;
		-webkit-transition: opacity 0s ease; 
	}
	/*=== LEGAL css | fin ==========================*/