@import '_reset';
@import '_fonts';
@import '_style-guide';

body {
	opacity: 0; 
	-webkit-transition: opacity .3s ease;
	background: #b1b3ba;
}
body.lp-loaded {
	opacity: 1;
} 
.lp-ad {
	position: relative;
	width: 480px;
	height: 324px;
	background-color: rgba(0, 0, 0, 0);
	margin: 0 auto;
	overflow: hidden;
}
.lp-view {
	position: absolute;
	background-repeat: no-repeat;
	z-index: 0;
}


/*=== RETOURNER css | debut ====================*/
	.wrapperFlip { 
		position: absolute; 
		-webkit-perspective: 800; 
		} 
	.flip { 
		position: absolute; 
		-webkit-transition: -webkit-transform 1s; 
		-webkit-transform-style: preserve-3d; 

		.lp-view { 
			position: absolute; 
			-webkit-backface-visibility: hidden; 
		} 
	} 
	
	.flip.active, 
	.flip .lp-view:nth-child(2) { 
		-webkit-transform: rotateY(180deg); 
		}
/*=== RETOURNER css | fin ====================*/


/*=== GALERIE css | debut ====================*/
#logo {
	position: absolute;
	z-index: 3;
	top:0;
	left:0;
	width: 165px;
	height: 75px;
	pointer-events: none;
}

#gallery { 
	width: 480px; 
	height: 324px; 
	background: rgba(0,0,0,0); 
	overflow: hidden; 
	z-index: 0; 

		.scroller { 
			position: relative; 
			float: left; 
			width: 2400px; 
			height: 100%; 
			z-index: 0; 
		} 

		.scroller > .lp-view { 
			position: relative !important; 
			float: left; 
			margin: 0; 
		}

} 

.pager-wrapper { 
	position: absolute; 
	top: 239px; 
	left: 0px; 
	width: 480px; 
	text-align: center; 
	z-index: 1; 

		.pager { 
			position: relative; 
			display: inline-block; 
			background: rgba(0, 0, 0, 1); 
			list-style: none; 
			padding: 4px;
			border-radius: 7.5px;

			li { 
				position: relative; 
				float: left; 
				width: 5px; 
				height: 5px; 
				font-size: 0; 
				background: rgba(110, 110, 110, 1); 
				border-radius: 50%; 
				margin: 0 5px; 
				-webkit-transform: translate3d(0,0,0); 
				-webkit-transition: background .3s ease; 
			} 
			li.selected { 
				background: rgba(255,255,255,1); 
			}
		}
} 

.description {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,1);
	width: 100%;
	height: 78px;
	margin: 246px 0 0 0;
	padding: 0 10px 10px 16px;

	div:nth-child(1) {
		float: left;
	}

	div:nth-child(2) {
		float: right;
		text-align: right;
	}

	.title:first-letter{
		text-transform: uppercase;
	}

	.title {
		padding: 30px 0 0 0;
		color: $gal-title;
		font: normal normal 18px/20px helvetica, sans-serif;
	}

	.subtitle {
		color: $gal-title;
		font: normal bold 23px/20px helvetica, sans-serif;
	}	

	.caption {
		color: $gal-title;
		padding: 27px 0 0 0;
		font: normal normal 12px/12px helvetica, sans-serif;
		text-transform: uppercase;
	}

	.price {
		color: $gal-price;
		font: normal bold 33px/20px helvetica, sans-serif;
	}	

	.price:after {
		font-size: 50%;
		vertical-align: super;
		content: "$";
	}
}

/*=== GALERIE css | fin ====================*/