@import '_reset';
@import '_fonts';
@import '_style-guide';
@import '_form-header';
@import '_form-footer';

html,
body {
	background: #fff;
	font-size: 16px;
	font-family: "Verlag_Book", Helvetica, Sans-Serif;
	overflow: hidden;
}

.btn {
	position: relative;
	display: inline-block;
	min-width: 100px;
	height: 44px;
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f5f5 0%,#f1f1f1 100%); /* W3C */
	color: rgb(64, 64, 64);
	text-align: center;
	text-decoration: none;
	line-height: 12px;
	box-sizing: border-box;
	border-radius: $radius;
	border: solid 1px $medium-grey;
	padding: 17px 10px;
	outline: none;
	cursor: pointer;

	&.disabled {
		background: #f5f5f5; /* Old browsers */
		background: -moz-linear-gradient(top,  #f5f5f5 0%, #f1f1f1 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f5f5f5 0%,#f1f1f1 100%); /* W3C */
		color: rgb(64, 64, 64);
		border: solid 1px $medium-grey;
		opacity: .5;
		pointer-events: none;
	}

	&:hover {
		background: -moz-linear-gradient(top,  #f8f8f8 0%, #f1f1f1 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f8f8f8 0%,#f1f1f1 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f8f8f8 0%,#f1f1f1 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f8f8f8 0%,#f1f1f1 100%); /* W3C */
	}
	&.lft {
		float: left;
	}
	&.rgt {
		float: right;
	}
	&.blue {
		background: #4d90fe; /* Old browsers */
		background: -moz-linear-gradient(top,  #4d90fe 0%, #4787ed 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d90fe), color-stop(100%,#4787ed)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #4d90fe 0%,#4787ed 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #4d90fe 0%,#4787ed 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #4d90fe 0%,#4787ed 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #4d90fe 0%,#4787ed 100%); /* W3C */
		color: #fff;
		border: 1px solid #3079ed;
		&:hover {
			background: #4d90fe; /* Old browsers */
			background: -moz-linear-gradient(top,  #4d90fe 0%, #357ae8 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d90fe), color-stop(100%,#357ae8)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #4d90fe 0%,#357ae8 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #4d90fe 0%,#357ae8 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #4d90fe 0%,#357ae8 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #4d90fe 0%,#357ae8 100%); /* W3C */
			color: #fff;
			border-color: #2f5bb7;
		}
	}
}

.field.valid .btn {
	background: #4d90fe; /* Old browsers */
	background: -moz-linear-gradient(top,  #188a09 0%, #0f7801 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#188a09), color-stop(100%,#0f7801)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #188a09 0%,#0f7801 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #188a09 0%,#0f7801 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #188a09 0%,#0f7801 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #188a09 0%,#0f7801 100%); /* W3C */
	color: #fff;
	border: 1px solid #0d6a01;
	&:hover {
		background: #188a09; /* Old browsers */
		background: -moz-linear-gradient(top,  #188a09 0%, #0d6a01 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#188a09), color-stop(100%,#0d6a01)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #188a09 0%,#0d6a01 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #188a09 0%,#0d6a01 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #188a09 0%,#0d6a01 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #188a09 0%,#0d6a01 100%); /* W3C */
		color: #fff;
		border-color: #0d6a01;
	}
	&.disabled {
		background: #f5f5f5; /* Old browsers */
		background: -moz-linear-gradient(top,  #f5f5f5 0%, #f1f1f1 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f5f5f5 0%,#f1f1f1 100%); /* W3C */
		color: rgb(64, 64, 64);
		border: solid 1px $medium-grey;
		opacity: .5;
		pointer-events: none;
	}
}

.field.error .btn {
	background: #e87772; /* Old browsers */
	background: -moz-linear-gradient(top,  #e87772 0%, #e80901 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e87772), color-stop(100%,#e80901)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e87772 0%,#e80901 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e87772 0%,#e80901 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e87772 0%,#e80901 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e87772 0%,#e80901 100%); /* W3C */
	color: #fff;
	border: 1px solid #e80901;
	&:hover {
		background: #e87772; /* Old browsers */
		background: -moz-linear-gradient(top,  #e87772 0%, #d20a02 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e87772), color-stop(100%,#d20a02)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #e87772 0%,#d20a02 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #e87772 0%,#d20a02 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #e87772 0%,#d20a02 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #e87772 0%,#d20a02 100%); /* W3C */
		color: #fff;
		border-color: #d20a02;
	}
}

body.no2 {
	.main-header .title,
	.steps {
		left: -100%;
	}
}

body.no3 {
	.main-header .title,
	.steps {
		left: -200%;
	}
}


.form {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 45px 0;
	z-index: 0;

	.steps {
		position: relative;
		left: 0%;
		float: left;
		width: 300%;
		height: 100%;
		white-space: nowrap;
		overflow: hidden;
		transition: left 1s ease;
	}

	.step {
		float: left;
		position: relative;
		width: 33.33%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;

		&.no3 {
			.content {
				top: 100px;
			}
		}

		.content {
			position: relative;
			width: 500px;
			height: 100%;
			margin: 0 auto;
			transition: width $speed ease;

			&.extend {
				width: 1020px;

				.delete-offer {
					pointer-events: auto;
					opacity: 1;
				}

				fieldset {
					&:nth-child(even) {
						margin-left: 20px;
					}
				}
			}

			.footer,
			.header {
				float: left;
				position: relative;
				width: 100%;
				box-sizing: border-box;
				padding: 1rem;
			}

			.addOfferMsg {
				position: relative;
				float: right;
				font-size: .8rem;
				color: rgba(0, 0, 0, 0.7);
				padding: 1rem 1rem 1rem 0;
			}

			.iframe {
				position: relative;
				float: left;
				width: 100%;
			}

			iframe {
				display: block;
				position: relative;
				background: #fff;
				border: solid 1px $dark-grey;
				margin: 0 auto;
				overflow: hidden;
			}
		}
	}

	fieldset {
		position: relative;
		float: left;
		width: 500px;
		background: $bg-grey;
		box-sizing: border-box;
		border: solid 1px $dark-grey;
		margin: 0 0 2rem 0;
		padding: 0;
		opacity: 0;
		transform: translateY(-20px);
		transition: opacity $speed ease, transform $speed ease;

		&.created {
			opacity: 1;
			transform: translateY(0px);
		}

		&:only-child {
			transition: none;
		}

		legend {
			position: relative;
			top: -16px;
			left: -1px;
			background: $bg-grey;
			font-size: 1.5rem;
			text-transform: uppercase;
			border: solid 1px $dark-grey;
			border-bottom: none;
			margin: 0;
			padding: .5rem 1rem 0 1rem;

			.delete-offer {
				position: absolute;
				left: 100%;
				font-size: 1rem;
				text-transform: none;
				margin: 0 1rem;
				pointer-events: none;
				opacity: 0;
				transition: opacity $speed ease;

				a {
					color: #4d90fe;
				}
			}
		}
	}

	.row {
		position: relative;
		float: left;
		width: 100%;
		background-repeat: no-repeat;
		background-position: 455px 37px;
		box-sizing: border-box;
		margin: 0;
		padding: .5rem 1rem;

		&.opt {
			background-color: $optional;
		}

		.half {
			position: relative;
			float: left;
			width: 50%;
			box-sizing: border-box;
			background-repeat: no-repeat;
			background-position: 200px 30px;

			&.opt {
				background-color: $optional;
			}
			.input {
				width: 195px;
			}

			.file {
				width: 195px;
			}

			&.error {
				background-image: url('../images/error-icon.png');
				.input {
					border-color: $lp-red;
				}
			}

			&.valid {
				background-image: url('../images/valid-icon.png');
				.input {
					border-color: $valid-green;
				}
			}
		}

		&.error {
			background-image: url('../images/error-icon.png');
			.input {
				border-color: $lp-red;
			}
		}

		&.valid {
			background-image: url('../images/valid-icon.png');
			.input {
				border-color: $valid-green;
			}
		}
	}

	.lbl {
		.msg {
			font-style: italic;
			font-size: .8rem;
			color: rgba(0,0,0,.7);
		}
	}

	.input {
		width: 430px;
		height: 44px;
		background: rgba(255,255,255,1);
		color: rgb(64, 64, 64);
		box-sizing: border-box;
		border-radius: $radius;
		border: solid 1px $medium-grey;
		padding: 17px 10px;
		outline: none;

		&:hover {
			border: solid 1px $dark-grey;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
		}

		&:focus {
			border: solid 1px $focus;
			box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px inset;
		}

		&.opt {
			background: $optional;
		}
	}

	.textarea {
		@extend .input;
		height: 90px;
	}

	.select {
		@extend .input;
	}

	.file {
		&:hover {
			border: solid 1px $dark-grey;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
		}
		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 1;
			cursor: pointer;

			&.hide {
				display: none;
				transform: translate3d(-60000px,0,0);
				pointer-events: none;
			}
		}
		.text {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			line-height: 44px;
			pointer-events: none;
			z-index: 0;
		}
	}

	.preview {
		display: inline-block;
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		&.active {
			border: solid 1px $valid-green;
		}
	}

	.logo {
		.preview {
			position: absolute;
			top: 30px;
			right: 9px;
		}
	}

	.radio {
		border: solid 1px $medium-grey;
		margin: 0 6px;
		cursor: pointer;

		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}

		&:hover {
			border: solid 1px $dark-grey;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
		}

		&.valid {
			border-color: $valid-green;
			background-color: $valid-green;
		}
	}

	.rating {
		overflow: hidden;
		display: inline-block;
		vertical-align: top;
	}
	.rating-input {
		float: right;
		width: 16px;
		height: 16px;
		padding: 0;
		margin: 0 0 0 -16px;
		opacity: 0;
	}
	.rating:hover .rating-star:hover,
	.rating:hover .rating-star:hover ~ .rating-star,
	.rating-input:checked ~ .rating-star {
		background-position: 0 0;
	}
	.rating-star,
	.rating:hover .rating-star {
		position: relative;
		float: right;
		display: block;
		width: 16px;
		height: 16px;
		background: url('../images/star.png') 0 -16px;
		cursor: pointer;
	}

	input.dollar {
		background-image: url('../images/dollar-sign.png');
		background-repeat: no-repeat;
		background-position: 98% 50%;
	}

	.radio-lbl {
		font-size: .8rem;
		color: rgba(0,0,0,.7);
	}

	.multi-files {
		position: relative;
		float: left;
		width: 100%;

		.files-list {
			position: relative;
			float: left;
			list-style: none;
			margin: 1.5rem 0 0 0;
			padding: 0;

			li {
				position: relative;
				float: left;
				height: 24px;
				a {
					display: inline-block;
					color: #000;
					text-decoration: none;
					font-size: .8rem;
					padding: .4rem;
				}
			}
		}
	}
}