{{#exist.date}}
.lp-date,
.lp-time {
	font: normal normal 16px/16px AmericanTypewriter-Bold;
}
{{/exist.date}}

.lp-strapline br,
.lp-title br{
	display: none;
}

.lp-strapline {
	font: normal normal 16px/16px AmericanTypewriter;
}
/*--- Front ------------------------*/
.lp-front .lp-summary {
	width: 100%;
	height: 100%;
	background-color: #C6DFFA;
	padding: 50px 10px 5px 15px;
}

.lp-front .lp-summary > div:nth-child(1) {
	display: table-row;
	vertical-align: top;
}

.lp-front .lp-summary > div:nth-child(2) {
	display: table-cell;
	vertical-align: bottom;
}

.lp-front .lp-logo {
	max-width: 100px;
	max-height: 30px;
}

.lp-front .lp-title {
	font: normal normal 16px/16px AmericanTypewriter-Bold;
}
{{#exist.price}}
{{#exist.mentions}}
.lp-front .lp-mentions {
	display: inline-block;
	font: normal normal 11px/11px AmericanTypewriter;
	padding: 0 8px 0 0;
}
{{/exist.mentions}}
.lp-front .lp-price {
	display: inline-block;
	font: normal normal 24px/24px AmericanTypewriter-Bold;
}
{{/exist.price}}
/*--- Back -------------------------*/
.lp-back .lp-card {
	width: 100%;
	padding: 15px 10px 0px 15px;
}

.lp-back .lp-summary {
	width: 100%;
	height: 103px;
}

.lp-back .lp-summary > div:nth-child(1) {
	display: table-row;
	vertical-align: top;
}

.lp-back .lp-summary > div:nth-child(2) {
	padding: 7px 0 0 0;	
	display: table-cell;
	vertical-align: bottom;
	text-align: left;
}

{{#exist.rating}}
.lp-back .lp-rating {
	height: 13px;
	background-image: url("public/images/star@2x.png");
	margin: 0 0 5px 0;
}

.lp-back .lp-rating.lp-1-stars {
	width: 16px;
}
.lp-back .lp-rating.lp-2-stars {
	width: 32px;
}
.lp-back .lp-rating.lp-3-stars {
	width: 48px;
}
.lp-back .lp-rating.lp-4-stars {
	width: 64px;
}
.lp-back .lp-rating.lp-5-stars {
	width: 80px;
}
{{/exist.rating}}

.lp-back .lp-logo {
	bottom: 4px;
	left: 73px;
	width: 100px;
	height: 30px;
}

.lp-back .lp-title {
	font: normal normal 16px/16px AmericanTypewriter-Bold;
}
{{#exist.price}}
{{#exist.mentions}}
.lp-back .lp-mentions {
	font: normal normal 11px/11px AmericanTypewriter;
}
{{/exist.mentions}}
.lp-back .lp-price {
	font: normal normal 24px/24px AmericanTypewriter-Bold;
}
{{/exist.price}}
.lp-back .lp-description {
	display: none;
}