.lp-offer {
	background-position: 50% 0;
	background-size: 100% auto;
}

.lp-strapline br {
	display: none;
}

.lp-title {
	max-height: 38px;
	overflow: hidden;
}

{{#exist.date}}
.lp-date,
.lp-time {
	font: normal normal 19px/19px AmericanTypewriter-Bold;
}
{{/exist.date}}
{{#exist.gallery}}
.lp-pager {
	bottom: 8px;
}
{{/exist.gallery}}
/*--- Front ------------------------*/
.lp-front .lp-summary {
	width: 100%;
	height: 128px;
	padding: 10px 10px 0px 10px;
	-webkit-transform: translate3d(0,197px,0);
}

.lp-front .lp-summary > div:nth-child(1) {
	display: table-row;
	height: 56px;
	vertical-align: top;
}

.lp-front .lp-logo {
	max-width: 100px;
	max-height: 50px;
}

.lp-front .lp-strapline {
	font: normal normal 16px/16px AmericanTypewriter;
	white-space: nowrap;
}

.lp-front .lp-title {
	font: normal normal 18px/18px AmericanTypewriter-Bold;
}

{{#exist.picturesGallery}}
.lp-gallery.lp-pictures {
	width: 230px;
	height: 197px;
}
.lp-pictures > .lp-scroller {
	width: 460px;
}
.lp-front .lp-picture {
	width: 230px;
	height: 100%;
}
.lp-front .lp-pager.lp-pictures {
	bottom: 136px;
}
{{/exist.picturesGallery}}
{{#exist.price}}
{{#exist.mentions}}
.lp-front .lp-mentions {
	display: inline-block;
	font: normal normal 12px/14px AmericanTypewriter;
}
{{/exist.mentions}}
.lp-front .lp-price {
	display: inline-block;
	font: normal normal 28px/26px AmericanTypewriter-Bold;
}
{{/exist.price}}
/*--- Back -------------------------*/
.lp-back .lp-summary {
	width: 100%;
}

.lp-back .lp-summary > div {
	float: left;
	width: 100%;
}

.lp-back .lp-summary > div:nth-child(2) {
	text-align: left;
}

.lp-back .lp-card {
	height: 257px;
	padding: 15px 10px 0px 15px;
}

{{#exist.rating}}
.lp-back .lp-rating {
	height: 13px;
	background-image: url("public/images/star@2x.png");
	margin: 5px 0;
}

.lp-back .lp-rating.lp-1-stars {
	width: 16px;
}
.lp-back .lp-rating.lp-2-stars {
	width: 32px;
}
.lp-back .lp-rating.lp-3-stars {
	width: 48px;
}
.lp-back .lp-rating.lp-4-stars {
	width: 64px;
}
.lp-back .lp-rating.lp-5-stars {
	width: 80px;
}
{{/exist.rating}}

.lp-back .lp-logo {
	bottom: 25px;
	left: 73px;
	width: 100px;
	height: 30px;
}

.lp-back .lp-plus-web {
	bottom: 25px;
}

.lp-back .lp-strapline {
	display: inline-block;
	font: normal normal 16px/16px AmericanTypewriter;
}

.lp-back .lp-title {
	font: normal normal 18px/18px AmericanTypewriter-Bold;
}
{{#exist.price}}
{{#exist.mentions}}
.lp-back .lp-mentions {
	font: normal normal 12px/14px AmericanTypewriter;
}
{{/exist.mentions}}
.lp-back .lp-price {
	font: normal normal 28px/20px AmericanTypewriter-Bold;
}
{{/exist.price}}
.lp-back .lp-description {
	font: normal normal 14px/16px AmericanTypewriter;
}

.lp-back .lp-description p {
	margin: 0;
}
.lp-back .lp-description span {
	padding: 0 10px 0  0;
	-webkit-line-clamp: 5;
}