.lp-summary > div {
	display: table-cell;
}

.lp-offer {
	background-position: 50% 0;
	background-size: 100% auto;
}

.lp-more {
	font: normal normal 17px/18px AmericanTypewriter;
	white-space: nowrap;
}

.lp-destination {
	font: normal normal 23px/23px AmericanTypewriter-Bold;
}
{{#exist.price}}
{{#exist.mentions}}
.lp-mentions {
	font: normal normal 12px/12px AmericanTypewriter;
}
{{/exist.mentions}}
.lp-price {
	font: normal normal 33px/29px AmericanTypewriter-Bold;
	letter-spacing: -1px;
}
{{/exist.price}}
{{#exist.date}}
.lp-date,
.lp-time {
	font: normal normal 23px/23px AmericanTypewriter-Bold;
}
{{/exist.date}}
{{#exist.video}}
.lp-video {
	bottom: 20px;
	width: 480px;
	height: 247px;
}
{{/exist.video}}
/*--- Front ------------------------*/
{{#exist.video}}
.lp-front .lp-video-play {
	top: 118px;
	left: 206px;
}
{{/exist.video}}

.lp-front .lp-summary {
	padding: 7px 10px 6px 15px;
 	height: 95px;
	-webkit-transform: translate3d(0,230px,0);
}

.lp-front .lp-summary > div {
	vertical-align: top;
}

.lp-front .lp-summary > div:nth-child(1) {
	width: 310px;
}

.lp-front .lp-summary > div:nth-child(2) {
	width: 170px;
}

{{#offers.list}}
{{#gallery}}
{{#exist}}
.lp-pictures > .lp-scroller {
	width: {{gallery.w}}px;
}
{{/exist}}
{{/gallery}}
{{/offers.list}}

.lp-front .lp-logo {
	max-width: 165px;
	max-height: 75px;
}

.lp-front .lp-more {
	font: normal normal 16px/18px AmericanTypewriter;
	white-space: nowrap;
}

.lp-front .lp-destination {
	font: normal normal 23px/23px AmericanTypewriter-Bold;
}

{{#exist.picturesGallery}}
.lp-gallery.lp-pictures {
	width: 100%;
	height: 245px;
}
.lp-front .lp-picture {
	width: 480px;
	height: 245px;
}
{{/exist.picturesGallery}}
.lp-front .lp-pager {
	bottom: 8px;
}

/*--- Back -------------------------*/
.lp-back .lp-card {
	height: 265px;
}

.lp-back .lp-summary {
	padding: 26px 10px 6px 40px;
}

.lp-back .lp-summary > div:nth-child(1) {
	width: 310px;
}

.lp-back .lp-summary > div:nth-child(2) {
	width: 143px;
}

.lp-back .lp-description span {
	font: normal normal 15px/20px AmericanTypewriter;
	-webkit-line-clamp: 5;
	width: 440px;
	padding: 0 0 0 40px;
}

{{#exist.rating}}
.lp-back .lp-rating {
	height: 18px;
	background-image: url("public/images/starBig@2x.png");
	margin: 10px 3px 0 0;
}

.lp-back .lp-rating.lp-1-stars {
	width: 21px;
}
.lp-back .lp-rating.lp-2-stars {
	width: 42px;
}
.lp-back .lp-rating.lp-3-stars {
	width: 63px;
}
.lp-back .lp-rating.lp-4-stars {
	width: 84px;
}
.lp-back .lp-rating.lp-5-stars {
	width: 105px;
}
{{/exist.rating}}
{{#exist.mentions}}
.lp-back .lp-mentions {
	font: normal normal 12px/14px AmericanTypewriter;
}
{{/exist.mentions}}
.lp-back .lp-logo {
	top: 265px;
	left: 305px;
	width: 115px;
	height: 55px;
}

.lp-back .lp-pager {
	bottom: 10px;
}