.lp-ad {
	position: relative;
    width: {{w}}px;
    height: {{h}}px;
    color: #333;
}

.lp-flip,
.lp-front,
.lp-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0,0,0) rotateY(0deg);
}

.lp-flip {
	-webkit-transition: -webkit-transform 1s ease;
	-webkit-transform-style: preserve-3d;
}

.lp-front {
	-webkit-transform: translate3d(0,0,0) rotateY(0deg);
	overflow: hidden;
}

.lp-back {
	-webkit-transform: translate3d(0,0,0) rotateY(180deg);
	overflow: hidden;
}

.lp-flip * {
	-webkit-backface-visibility: hidden;
}

.lp-flip.lp-active,
.lp-back {
  -webkit-transform: rotateY(180deg);
}

.flipped .lp-back {
  -webkit-transition: -webkit-transform 0s;
  -webkit-transform: translateZ(-2px) rotateY(-180deg);
}

.lp-logo {
	position: absolute;
	background-color: #fff;
	background-image: url('{{logo.name}}');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	pointer-events: none;
	z-index: 1;
}

.lp-scroller {
	position: relative;
	float: left;
	width: {{scroller.w}}px;
	height: 100%;
}

.lp-offer {
	position: relative;
	float: left;
	width: {{w}}px;
	height: 100%;
	background-color: #fff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

{{#offers.list}}
	.lp-front .lp-offer:nth-child({{index}}) {
		background-image: url('{{pictures.0}}');
	}
{{/offers.list}}

.lp-mention {
	text-transform: uppercase;
	margin: 0;
}

.lp-infos {
	display: table;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	box-sizing: border-box;
}

.lp-price:after {
  font-size: 60%;
  vertical-align: super;
  content: "$";
}

.lp-summary > div {
	display: table-cell;
}

.lp-summary > div:nth-child(1) {
	text-align: left;
}

.lp-summary > div:nth-child(2) {
	text-align: right;
}

.lp-card {
	display: table;
	position: absolute;
	width: 100%;
	z-index: 0;
}

.lp-pager {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 1;
	pointer-events: none;
}

.lp-more {
	position: relative;
	float: left;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.lp-destination {
	position: relative;
	float: left;
	width: 100%;
}

.lp-pager .lp-wrapper {
	display: inline-block;
	position: relative;
	background: black;
	padding: 4px;
	border-radius: 7.5px;
}

.lp-pager .lp-bullet {
	position: relative;
	float: left;
	width: 5px;
	height: 5px;
	font-size: 0;
	background: #6e6e6e;
	border-radius: 50%;
	margin: 0 5px;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: background .3s ease;
}

/*--- Front ------------------------*/
.lp-front .lp-logo {
	top: 0;
	left: 0;
	width: 165px;
	height: 75px;
}
/*--- Back ------------------------*/
.lp-back {

}

.lp-back .lp-close {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	background-image: url("public/images/btn-annuler-light.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 1;
}

.lp-back .lp-summary {
	float: left;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 26px 10px 6px 39px;
}

.lp-back .lp-summary > div {
	vertical-align: top;
}

.lp-back .lp-more {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.lp-back .lp-rating {
	position: relative;
	float: left;
	background-repeat: repeat-x;
	background-position: 0 0;
	background-size: auto 100%;
	text-indent: -999px;
	overflow: hidden;
}

.lp-back .lp-description {
	display: table-row;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.lp-back .lp-description p {
	display: table-cell;
	vertical-align: middle;
}

.lp-back .lp-description span {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 0 0 20px;
}