*, *:before, *:after {box-sizing: border-box;}
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.lp-ad {
	position: relative;
    width: {{w}}px;
    height: {{h}}px;
    color: #333;
}

.lp-flip {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,0) rotateY(0deg);
	-webkit-transition: -webkit-transform 1s ease;
}

.lp-flip * {
	-webkit-backface-visibility: hidden;
}

.lp-front {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-transform: translate3d(0,0,0) rotateY(0deg);
}

.lp-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-transform: translate3d(0,0,-2px) rotateY(180deg);
}

.lp-flip.lp-active {
  -webkit-transform: translate3d(0,0,0) rotateY(180deg);
}

.lp-logo {
	display: block;
	position: absolute;
	background-image: url('{{logo.path}}');
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 1;
	pointer-events: none;
	-webkit-user-select: none;
}

{{#exist.date}}
.lp-time {
	display: block;
}
.lp-strapline {
	text-transform: uppercase;
}
{{/exist.date}}

{{#exist.gallery}}
.lp-gallery {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.lp-scroller {
	position: relative;
	float: left;
	height: 100%;
}

.lp-pager {
	height: 14px;
}

.lp-legalOpen .lp-pager {
	opacity: 0;
	-webkit-transition: opacity 0s ease; 
}

{{/exist.gallery}}
{{#exist.offersGallery}}
.lp-gallery.lp-offers {
	width: 100%;
	height: 100%;
}

.lp-gallery.lp-offers .lp-scroller {
	width: {{scroller.w}}px;
	height: 100%;
}
{{/exist.offersGallery}}
.lp-offer {
	position: relative;
	float: left;
	width: {{w}}px;
	height: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
}

{{#exist.picturesGallery}}
.lp-front .lp-picture {
	position: relative;
	float: left;
	background-color: #fff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
{{/exist.picturesGallery}}

{{#offers.list}}
{{#gallery}}
{{#exist}}
.lp-pictures > .lp-scroller {
	width: {{gallery.w}}px;
}
{{#pictures}}
.lp-front .lp-picture:nth-child({{index}}) {
	background-image: url('{{path}}');
}
{{/pictures}}
{{/exist}}
{{^exist}}
.lp-front .lp-offer:nth-of-type({{index}}) {
	background-image: url('{{pictures.0.path}}');
}
{{/exist}}
{{/gallery}}
{{/offers.list}}

.lp-summary {
	pointer-events: none;
	 -webkit-user-select: none;
	 table-layout: fixed;
}

.lp-summary > div:nth-child(1) {
	text-align: left;
}

.lp-summary > div:nth-child(2) {
	text-align: right;
}

{{#exist.video}}
#lp-offline-banner {
	position: absolute;
	text-align: center;
}

#lp-offline-banner .lp-offline-warning {
	position: relative;
	display: inline-block;
	width: auto;
	max-width: 680px;
	min-height: 30px;
	background-color: rgba(0, 0, 0, 0.8);
	background-position: 2% 50%, 98% 50%;
	background-repeat: no-repeat, no-repeat;
	-webkit-background-size: 20px 20px, 15px 15px;
	background-size: 20px 20px, 15px 15px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFW…qUTyEXTnIrBaj6qcOZTR3McVR2LeQGGGl28f8o6psAAwDkA0q/OZ6/AgAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFW…G7a0zpiiOOCj7S8xkVQI1W8Aea2kDiwc1oBg/oFn8CDACNIqqZNBCYDQAAAABJRU5ErkJggg==);
	font-size: 12px;
	font-family: helvetica, arial, sans-serif;
	text-align: left;
	color: #fff;
	line-height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 40px;
	margin: 0 auto;
	-webkit-transform-origin: 0 0;
	-webkit-transform: translateY(-90px);
	-webkit-transition: -webkit-transform .5s ease;
	z-index: 1;
}

#lp-offline-banner.lp-active .lp-offline-warning {
  -webkit-transform: translateY(0);
}

.lp-video-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	opacity: 0;
	z-index: 9;
	-webkit-transform: translate3d(-9999px, 0, 0);
	-webkit-transition: opacity .5s ease, -webkit-transform 0 .5s ease;
}

.lp-video {
	position: absolute;
	left: 0;
	opacity: 0;
	z-index: 10;
	-webkit-transform: translate3d(-9999px, 0, 0);
	-webkit-transition: opacity .5s ease, -webkit-transform 0 .5s ease;
}

.lp-video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	margin: 0;
	padding: 0;
	z-index: 1;
	-webkit-transform: translate3d(0, 0, 0);
}

.lp-video .lp-video-close {
	position: absolute;
	top: -40px;
	left: 20px;
	width: 30px;
	height: 30px;
	background-image: url('public/images/video@2x.png');
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 40px 110px;
	opacity: 0;
	z-index: 11;
	-webkit-transform: translate3d(-9999px, 0, 0);
	-webkit-transition: opacity .5s ease, -webkit-transform 0 .5s ease;
}

.lp-video-bg.lp-active,
.lp-video.lp-active,
.lp-video.lp-active .lp-video-close {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: opacity .5s ease, -webkit-transform 0 ease;
}
{{/exist.video}}

.lp-strapline {
	display: block;
}

.lp-title {
	display: block;
}
{{#exist.price}}
{{#exist.mentions}}
.lp-mentions {
	display: block;
	text-transform: uppercase;
}
{{/exist.mentions}}
.lp-price {
	display: block;
}

.lp-price:after {
	font-size: 60%;
	vertical-align: super;
	content: "$";
}
{{/exist.price}}
{{#exist.gallery}}
.lp-pager .lp-wrapper {
	display: inline-block;
	position: relative;
	background: black;
	padding: 4px;
	border-radius: 7.5px;
}

.lp-pager {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 1;
	opacity: 1;
	pointer-events: none;
	-webkit-transition: opacity 1s ease; 
}

.lp-pager .lp-bullet {
	position: relative;
	float: left;
	width: 5px;
	height: 5px;
	font-size: 0;
	background: #6e6e6e;
	border-radius: 50%;
	margin: 0 5px;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: background .3s ease;
}

.lp-pager .lp-bullet.lp-selected {
	background: #fff;
}
{{/exist.gallery}}
/*--- Front ------------------------*/
.lp-front .lp-logo {
	top: 0;
	left: 0;
	width: {{logo.w}}px;
	height: {{logo.h}}px;
	background-color: #fff;
	background-position: 0 50%;
	border: 4px solid #fff;
	box-sizing: initial;
}

.lp-front .lp-plus {
	position: absolute;
	display: block;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	background-image: url('public/images/basic@2x.png');
	background-position: -34px -36px;
	background-repeat: no-repeat;
	background-size: 65px;
	z-index: 1;
}

.lp-front .lp-summary {
	display: table;
	background: #fff;
	box-sizing: border-box;
}

{{#exist.video}}
.lp-front .lp-video-play {
	position: absolute;
	width: 70px;
	height: 70px;
	background-image: url("public/images/video@2x.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 70px 190px;
	opacity: 1;
	z-index: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: opacity .5s ease, -webkit-transform 0 ease;
}

.lp-front .lp-video-play:active {
	background-position: 0 -70px;
}

.lp-front .lp-video-play.lp-active {
	opacity: 0;
	-webkit-transform: translate3d(-9999px, 0, 0);
	-webkit-transition: opacity .5s ease, -webkit-transform 0 .5s ease;
}
{{/exist.video}}
/*--- Back -------------------------*/
.lp-back .lp-card {
	display: table;
}

.lp-back .lp-summary {
	float: left;
	position: relative;
	width: 100%;
}

.lp-back .lp-summary > div {
	vertical-align: top;
}

{{#exist.rating}}
.lp-back .lp-rating {
	position: relative;
	float: left;
	background-repeat: repeat-x;
	background-position: 0 0;
	background-size: auto 100%;
	text-indent: -999px;
	overflow: hidden;
}
{{/exist.rating}}

.lp-back .lp-description {
	display: table-row;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	pointer-events: none;
	-webkit-user-select: none;
}

.lp-back .lp-description p {
	display: table-cell;
	vertical-align: middle;
}

.lp-back .lp-description span {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.lp-back .lp-logo {
	background-position: 100% 100%;
}

.lp-back .lp-plus-web {
	position: absolute;
	bottom: 9px;
	right: 9px;
	width: 40px;
	height: 40px;
	background-image: url("public/images/basic@2x.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 80px;
	z-index: 1;
}

/*a corriger */
.lp-back .lp-plus-web:active {
	background-position: 0 -40px;
}

.lp-back .lp-plus-web:after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: -9px;
  left: -9px;
}

{{#exist.legal}}
.lp-legal-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
	z-index: 4;
	cursor: pointer;
	-webkit-transform: translate3d(0, -9999px, 0);
	-webkit-transition: opacity .5s ease, -webkit-transform 0 .5s linear;
}

.lp-legal {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 50%;
	font-family: helvetica, arial, sans-serif;
	color: #868889;
	z-index: 5;
	-webkit-transition: top .5s ease;
}

.lp-legal.lp-active {
	top: 50%;
}

.lp-legal.lp-active + .lp-legal-bg {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: opacity .5s ease, -webkit-transform 0 0 linear;
}

.lp-legal-btn {
	position: absolute;
	top: -20px;
	left: 0;
	width: 50px;
	height: 21px;
	background: #f1f1f1;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	line-height: 175%;
	cursor: pointer;
}

.lp-legal-text {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	background: #f1f1f1;
	font-size: 11px;
	text-align: justify;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	overflow-scrolling: touch;
	overflow: auto;
}
{{/exist.legal}}