<div class="lp-offer">
    <div class="close"></div>
    <div class="description">
        <div>
            <p class="title">{{moreDestination}}</p>
            <p class="subtitle">{{destination}}</p>
            <ul class="rating">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div>
            <p class="caption">{{mentions.0}}{{#mentions.1}}<br>{{mentions.1}}{{/mentions.1}}</p>
            <p class="price">{{price}}</p>
        </div>
        <div class="logo" style="background-image: url('{{logo.name}}');"></div>
        <a class="btn-plusWeb noFlip" href="{{link}}"></a>
    </div>
    <div class="wrapper-infos">
        <div class="infos">{{description}}</div>
    </div>
</div>