.lp-ad {
	position: relative;
    width: {{w}}px;
    height: {{h}}px;
}

.lp-flip,
.lp-front,
.lp-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.lp-back {
	-webkit-transform: rotateY(180deg);
}

.lp-flip * {
	-webkit-backface-visibility: hidden;
}

.lp-logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 165px;
	height: 75px;
	background-color: #fff;
	background-image: url({{url}}{{folder}}/assets/{{logo.name}});
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	pointer-events: none;
	z-index: 1;
}