<div class="lp-offer">
    <span class="lp-close"></span>
    <div class="lp-card">
        <div class="lp-summary">
            <div>
                <span class="lp-more">{{moreDestination}}</span>
                <span class="lp-destination">{{destination}}</span>
                {{#rating}}
                    <span class="lp-rating lp-{{rating}}-stars">{{rating}} étoiles</span>
                {{/rating}}
            </div>
            <div>
                <span class="lp-mentions">
                    {{mentions.0}}{{#mentions.1}}<br>{{mentions.1}}{{/mentions.1}}
                </span>
                <span class="lp-price">{{price}}</span>
            </div>
        </div>
        <div class="lp-description">
            <p>
                <span>{{description}}</span>
            </p>
        </div>
    </div>
    <div class="lp-logo"></div>
    <a class="btn-plusWeb noFlip" href="{{link}}"></a>
</div>