<section id="screenTpl">
	<fieldset>
		<legend>Écran</legend>
		<label>
			<span class="lbl">Prix</span><br>
			<input type="number" name="{{id}}_price" placeholder="1358" />$
		</label><br>
		<label>
			<span class="lbl">Description</span><br>
			<input type="text" name="{{id}}_desc" placeholder="Barcelo Costa Cancun" />
		</label><br>
		<label>
			<span class="lbl">Titre</span><br>
			<input type="text" name="{{id}}_title" placeholder="Cancun, Mexique" />
		</label><br>
		<span class="lbl">Note</span><br>
		<label>
			<input type="radio" name="{{id}}_rating" value="0" checked /> Aucune | 
		</label>
		<label>
			<input type="radio" name="{{id}}_rating" value="1" /> 1
		</label>
		<label>
			<input type="radio" name="{{id}}_rating" value="2" /> 2
		</label>
		<label>
			<input type="radio" name="{{id}}_rating" value="3" /> 3
		</label>
		<label>
			<input type="radio" name="{{id}}_rating" value="4" /> 4
		</label>
		<label>
			<input type="radio" name="{{id}}_rating" value="5" /> 5
		</label><br>
		<label>
			<span class="lbl">Texte</span><br>
			<textarea name="{{id}}_text" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt risus ultricies diam tristique bibendum. Vestibulum lacinia vehicula auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis consectetur felis nec massa pretium pharetra."></textarea>
		</label><br>
		<label>
			<span class="lbl">Image</span><br>
			<input type="file" accept="image/*" capture="camera" name="{{id}}_picture">
		</label><br>
		<label>
			<span class="lbl">Vidéo</span><br>
			<input type="file" accept="video/*" capture="camera" name="{{id}}_video">
		</label>
	</fieldset>
</section>