<section id="screenTpl">
	<fieldset>
		<legend>{{t.offer}} {{id}}</legend>

		<div class="row field">
			<label>
				<span class="lbl">{{t.destination}}</span><br>
				<input type="text" name="{{id}}_destination" placeholder="Cancun, Mexique" class="input js-validate"  required />
			</label>
		</div>

		<div class="row field">
			<label>
				<span class="lbl">{{t.moreAboutTheDestination}}</span><br>
				<input type="text" name="{{id}}_moreDestination" placeholder="Barcelo Costa Cancun" class="input js-validate" required />
			</label>
		</div>

		<div class="row">
			<div class="half field">
				<label>
					<span class="lbl">{{t.price}}</span><br>
					<input type="text" name="{{id}}_price" placeholder="1358" class="input short dollar{{#opt.price}} js-validate{{/opt.price}}{{^opt.price}} opt{{/opt.price}}" required />
				</label>
			</div>

			{{#opt.date}}
			<div class="half field">
				<label>
					<span class="lbl">{{t.date}}</span><br>
					<input type="text" name="{{id}}_date" placeholder="2014-12-31" class="input short" />
				</label>
			</div>
			{{/opt.date}}
		</div>

		<div class="row opt">
			<span class="lbl">{{t.numberOfStars}}</span><br>
			<input type="checkbox" name="{{id}}_rating_visible" checked /> Visible | 
			<span class="rating">
				<input type="radio" name="{{id}}_rating" class="rating-input" id="rating-input-1-5" />
				<label for="rating-input-1-5" class="rating-star"></label>
				<input type="radio" name="{{id}}_rating" class="rating-input" id="rating-input-1-4" />
				<label for="rating-input-1-4" class="rating-star"></label>
				<input type="radio" name="{{id}}_rating" class="rating-input" id="rating-input-1-3" />
				<label for="rating-input-1-3" class="rating-star"></label>
				<input type="radio" name="{{id}}_rating" class="rating-input" id="rating-input-1-2" />
				<label for="rating-input-1-2" class="rating-star"></label>
				<input type="radio" name="{{id}}_rating" class="rating-input" id="rating-input-1-1" />
				<label for="rating-input-1-1" class="rating-star"></label>
			</span>
		</div>

		<div class="row field">
			<label>
				<span class="lbl">{{t.webLink}}</span><br>
				<input type="text" name="{{id}}_link" placeholder="http://..." class="input js-validate" required>
			</label>
		</div>

		<div class="row">
			<div class="half field">
				<label>
					<span class="lbl">{{t.picture}}</span><br>
					<div class="btn blue file">
						<span class="text">{{t.uploadImage}}</span>
						<input type="file" accept="image/*" capture="camera" name="{{id}}_picture" class="file-input js-validate" required />
					</div>
					<span class="preview"></span>
				</label>
			</div>
			<div class="half field">
				<label>
					<span class="lbl">{{t.video}}</span><br>
					<div class="btn file">
						<span class="text">{{t.uploadVideo}}</span>
						<input type="file" accept="video/*" capture="camera" name="{{id}}_video" />
					</div>
				</label>
			</div>
		</div>

		<div class="row field">
			<label>
				<span class="lbl">{{t.description}}</span><br>
				<textarea name="{{id}}_description" class="textarea js-validate" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt risus ultricies diam tristique bibendum. Vestibulum lacinia vehicula auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis consectetur felis nec massa pretium pharetra." required></textarea>
			</label>
		</div>
	</fieldset>
</section>