.ad-drop-zone {
	position: fixed;
	top:  0;
	left: 0;
	width:  100%;
	height: 100%;
	background-color:    rgba(0,0,0,.75);
	background-image:    url('../images/upload-fr.png');
	background-position: 50% 50%;
	background-repeat:   no-repeat;
	opacity: 0;
	z-index: 100;
	@include transform(translateX(-100%));
	@include transition(transform 0 .5s linear, opacity .5s ease);

	&.active {
		opacity: 1;
		@include transform(translateX(0));
		@include transition(transform 0 linear, opacity .5s ease);
	}

	> form {
		display: block;
		position: absolute;
		top:  5%;
		left: 5%;
		width:  90%;
		height: 90%;
		border: dotted 5px #fff;
		border-radius: 1rem;
	}

	input {
		position: absolute;
		top:  0;
		left: 0;
		width:  100%;
		height: 100%;
		opacity: 0;
	}
}