.popup {
	position: fixed;
	top:  0;
	left: 0;
	width:  100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	opacity: 0;
	@include transform(translateX(-9999px));
	@include transition(transform 0 .75s linear, opacity .5s .25s ease);

	.window {
		position: relative;
		top: 50%;
		width:  530px;
		height: 250px;
		background: #fff;
		@include box-sizing(border-box);
		box-shadow: 0 0 30px 0 $medium-black;
		margin:  0 auto;
		padding: 20px;
		opacity: 0;
		@include transform(translateY(-150px));
		@include transition(transform .25s 0 ease, opacity .25s ease);

		.close {
			display: block;
			position: absolute;
			top:   -45px;
			right: 0;
			width:  40px;
			height: 40px;
			background-image:    url('../images/btn-close.png');
			background-position: 50% 50%;
			background-repeat:   no-repeat;
			background-size:     34px 34px;
			z-index: 2;
			cursor: pointer;
		}

		h2 {
			position: relative;
			top: -20px;
			left: -20px;
			width: 100%;
			background: $medium-black;
			color: #fff;
			font-weight: normal;
			text-transform: uppercase;
			padding: 20px;
		}

		.text {
			position: relative;
			width:  100%;
			height: 100px;
			white-space: normal;
			margin: 0 0 15px 0;
			overflow-x: hidden;
			overflow-y: auto;
		}

		label {
			width: 100%;
		}
	}

	&.active {
		opacity: 1;
		@include transform(translateX(0));
		@include transition(transform 0 0 linear, opacity .5s 0 ease);

		.window {
			opacity: 1;
			@include transform(translateY(-125px));
		}
	}
}