/* _reset.scss */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.preload * {
  transition: none !important;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
}

iframe::-webkit-scrollbar {
  display: none;
}

/* _style-guide.scss */
