/* _reset.scss */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
}

/* _style-guide.scss */

body {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  background: #b1b3ba;
  overflow-x: hidden;
}

body.lp-loaded {
  opacity: 1;
}

.quart {
  width: 480px;
  height: 325px;
}

.quart .logo {
  width: 165px;
  height: 75px;
}

.quart .description {
  height: 78px;
}

.huitieme-v,
.huitieme-v .wrapperFlip,
.huitieme-v .flip,
.huitieme-v .front,
.huitieme-v .back {
  width: 230px;
  height: 325px;
}

.huitieme-v .logo {
  width: 100px;
  height: 35px;
}

.huitieme-v .back .logo {
  width: 100px;
  height: 40px;
  top: 277px;
  left: 72px;
}

.huitieme-v .description {
  height: 104px;
}

.huitieme-v .description .subtitle {
  font: normal bold 18px/16px helvetica, sans-serif;
  height: 35px;
}

.huitieme-v .description div:nth-child(2) {
  float: none;
}

.huitieme-v .description .price {
  float: none;
  font: normal bold 28px/29px helvetica, sans-serif;
}

.huitieme-v .back .description .price {
  position: absolute;
  top: 104px;
  left: 50px;
  float: none;
  font: normal bold 28px/29px helvetica, sans-serif;
}

.huitieme-v .description .caption,
.huitieme-v .back .description .caption {
  position: absolute;
  top: 84px;
  left: 57px;
  display: block;
  vertical-align: initial;
  width: auto;
  float: none;
}

.huitieme-v .back .description .caption {
  position: absolute;
  top: 96px;
  left: 51px;
  display: block;
  vertical-align: initial;
  width: auto;
  float: none;
}

.huitieme-v .back .description .title,
.huitieme-v .back .description .subtitle {
  font: normal normal 18px/16px helvetica, sans-serif;
}

.huitieme-v .back .description .subtitle {
  font: normal normal 18px/16px helvetica, sans-serif;
}

.huitieme-v .back .description .infos {
  font: normal normal 14px/17px helvetica, sans-serif;
  -webkit-line-clamp: 7;
  position: absolute;
  top: 147px;
  left: 19px;
  width: 200px;
}

.huitieme-v .back .description {
  padding: 14px 19px 10px 27px;
}

.huitieme-v .back .description .title {
  height: 21px;
}

.huitieme-v .back .description .rating {
  height: 81px;
  padding: 8px 0 0 25px;
}

.huitieme-h,
.huitieme-h .wrapperFlip,
.huitieme-h .flip,
.huitieme-h .front,
.huitieme-h .back,
.huitieme-h .gallery,
.huitieme-h .gallery .scroller > div {
  width: 480px;
  height: 152px;
}

.une-offre .gallery,
.une-offre .gallery .scroller > div {
  width: 328px;
  height: 152px;
}

.huitieme-h .wrapper {
  width: 480px;
  height: 152px;
  z-index: 0;
  overflow: hidden;
  position: absolute;
}

.huitieme-h .logo {
  width: 100px;
  height: 50px;
}

.huitieme-h .back .logo {
  top: 117px;
  left: 335px;
  width: 85px;
  height: 30px;
}

.huitieme-h .front .description {
  width: 152px;
  height: 152px;
}

.huitieme-h .description .title {
  font: normal normal 17px/18px helvetica, sans-serif;
}

.huitieme-h .description .subtitle {
  font: normal bold 18px/20px helvetica, sans-serif;
}

.huitieme-h .description .price {
  font: normal bold 28px/26px helvetica, sans-serif;
}

.huitieme-h .description .opposite .caption {
  height: 48px;
}

.huitieme-h .back .description .title {
  font: normal normal 17px/16px helvetica, sans-serif;
  height: 20px;
}

.huitieme-h .back .description .subtitle {
  font: normal bold 18px/16px helvetica, sans-serif;
  height: auto;
}

.huitieme-h .back .description .rating {
  float: none;
  clear: none;
  padding: 0;
  height: auto;
  position: absolute;
  top: 16px;
  left: 242px;
}

.huitieme-h .back .special .rating {
  top: 15px;
  left: 185px;
}

.huitieme-h .back .description .title,
.huitieme-h .back .description .subtitle {
  padding: 0 0 0 51px;
}

.huitieme-h .back .description {
  padding: 14px 19px 10px 3px;
}

.huitieme-h .back .description .infos {
  font: normal normal 13px/16px helvetica, sans-serif;
  -webkit-line-clamp: 3;
  position: absolute;
  top: 57px;
  left: 28px;
  width: 390px;
  height: 50px;
}

.huitieme-h .back .description div:nth-child(2) {
  float: none;
  position: absolute;
  top: -22px;
  left: 393px;
}

.huitieme-h .back .description .price {
  font: normal bold 28px/16px helvetica, sans-serif;
}

.huitieme-h .pager-wrapper,
.huitieme-h .back .pager-wrapper {
  top: 129px;
}

.huitieme-h .description .caption {
  height: 31px;
}

.seizieme-h,
.seizieme-h .wrapperFlip,
.seizieme-h .flip,
.seizieme-h .front,
.seizieme-h .back {
  width: 230px;
  height: 152px;
}

.seizieme-h .wrapper {
  width: 230px;
  height: 152px;
  z-index: 0;
  overflow: hidden;
  position: absolute;
}

.seizieme-h .description .title,
.seizieme-h .description .subtitle,
.seizieme-h .back .description .subtitle,
.seizieme-h .back .description .title {
  font: normal normal 16px/16px helvetica, sans-serif;
}

.seizieme-h .description .price,
.seizieme-h .back .description .price {
  font: normal normal 24px/24px helvetica, sans-serif;
  position: absolute;
  top: 116px;
  left: 153px;
}

.seizieme-h .flip {
  background-color: white;
}

.seizieme-h .back .description .price {
  top: 66px;
  left: 23px;
}

.seizieme-h .back a.btn-plusWeb {
  bottom: -92px;
  right: 42px;
}

.seizieme-h .description .caption {
  position: absolute;
  top: 133px;
  left: 36px;
  font-weight: bold;
  height: 20px;
  font: normal normal 11px/11px helvetica, sans-serif;
}

.seizieme-h .back .description .caption {
  position: absolute;
  top: 60px;
  left: 24px;
  font-weight: bold;
  height: 20px;
  font: normal normal 11px/11px helvetica, sans-serif;
}

.seizieme-h .description .subtitle,
.seizieme-h .back .description .subtitle {
  height: 20px;
  font-weight: bold;
}

.seizieme-h .description {
  padding: 49px 10px 0px 15px;
}

.seizieme-h .back .description {
  position: absolute;
  padding: 0;
  float: none;
  top: 11px;
  left: 31px;
}

.seizieme-h .back .description .title {
  height: 19px;
}

.seizieme-h .description .rating {
  float: none;
  clear: none;
  position: absolute;
  height: auto;
  padding: 0;
  top: 25px;
}

.seizieme-h .lp-legal-text {
  width: 230px;
}

.seizieme-h .logo,
.seizieme-h .back .logo {
  width: 90px;
  height: 35px;
  top: 3px;
  left: 5px;
}

.seizieme-h .back .logo {
  top: 100px;
  left: 48px;
}

.lp-ad {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  overflow: hidden;
}

.lp-view {
  position: absolute;
  background-repeat: no-repeat;
  z-index: 0;
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 230px;
  height: 152px;
  z-index: 100000;
  opacity: 0;
  pointer-events: none;
}

/*=== RETOURNER css | debut ====================*/

.wrapperFlip {
  -webkit-perspective: 0;
}

.flip {
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
}

.flip .front,
.flip .back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
}

.flip * {
  -webkit-backface-visibility: hidden;
}

.flip.active,
.back {
  -webkit-transform: rotateY(180deg);
}

.flipped .back {
  -webkit-transition: -webkit-transform 0s;
  -webkit-transform: translateZ(-2px) rotateY(-180deg);
}

/*=== RETOURNER css | fin ====================*/

/*=== GALERIE css | debut ====================*/

.logo {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  pointer-events: none;
}

.gallery {
  width: 480px;
  height: 325px;
  background: rgba(0, 0, 0, 0);
  z-index: 0;
}

.gallery .scroller {
  position: relative;
  float: left;
  height: 100%;
  z-index: 0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.gallery .scroller > div {
  float: left;
  width: 480px;
  height: 325px;
  position: relative !important;
  margin: 0;
  background: white;
}

.pager-wrapper {
  position: absolute;
  top: 239px;
  left: 0px;
  width: 480px;
  text-align: center;
  z-index: 1;
  opacity: 1;
  pointer-events: none;
}

.pager-wrapper .pager {
  position: relative;
  display: inline-block;
  background: black;
  list-style: none;
  padding: 4px;
  border-radius: 7.5px;
}

.pager-wrapper .pager li {
  position: relative;
  float: left;
  width: 5px;
  height: 5px;
  font-size: 0;
  background: #6e6e6e;
  border-radius: 50%;
  margin: 0 5px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: background .3s ease;
}

.pager-wrapper .pager li.selected {
  background: white;
}

.description {
  float: left;
  background: white;
  width: 100%;
  padding: 7px 10px 10px 15px;
}

.description div:nth-child(1) {
  float: left;
}

.description div:nth-child(2) {
  float: right;
  text-align: right;
}

.description .title:first-letter {
  text-transform: uppercase;
}

.description .title {
  color: #4d4d4d;
  font: normal normal 18px/21px helvetica, sans-serif;
}

.description .subtitle {
  display: table-cell;
  vertical-align: bottom;
  height: 40px;
  color: #4d4d4d;
  font: normal bold 23px/23px helvetica, sans-serif;
}

.description .opposite .subtitle {
  display: block;
  vertical-align: initial;
  height: auto;
}

.description .caption {
  display: table-cell;
  vertical-align: bottom;
  width: 111px;
  height: 30px;
  color: #4d4d4d;
  font: normal normal 12px/12px helvetica, sans-serif;
  text-transform: uppercase;
}

.description .price {
  color: #333333;
  font: normal bold 33px/29px helvetica, sans-serif;
}

.description .price:after {
  font-size: 60%;
  vertical-align: super;
  content: "$";
}

.une-offre .front .description {
  float: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.une-offre .back {
  background-color: white;
}

.huitieme-v .front .description {
  float: none;
  position: absolute;
  bottom: 0;
}

.huitieme-v .back {
  background-color: white;
}

.back .description {
  padding: 22px 19px 10px 29px;
}

.back .description .title {
  height: 25px;
  font: normal normal 22px/29px helvetica, sans-serif;
}

.back .description .subtitle {
  font: normal bold 28px/32px helvetica, sans-serif;
}

.back .description .title,
.back .description .subtitle {
  padding: 0 0 0 24px;
}

.back .description .caption {
  height: 46px;
  font: normal normal 12px/14px helvetica, sans-serif;
  width: auto;
}

.back .description .price {
  font: normal bold 33px/20px helvetica, sans-serif;
}

.back .description .infos {
  float: left;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font: normal normal 15px/20px helvetica, sans-serif;
  height: 120px;
  width: 100%;
  color: #333333;
}

.back .description .rating {
  float: left;
  clear: both;
  height: 50px;
  padding: 14px 0 0 25px;
}

.back .pager-wrapper {
  top: 297px;
}

.back .logo {
  position: absolute;
  z-index: 3;
  top: 265px;
  left: 305px;
  width: 115px;
  height: 55px;
  -webkit-background-size: contain;
  background-size: contain;
  pointer-events: none;
}

/*=== GALERIE css | fin ====================*/

/*=== LEGAL css | debut ==========================*/

.lp-legal-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 480px;
  height: 325px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  cursor: pointer;
  z-index: 9998;
  -webkit-transform: translate3d(0, 450px, 0);
  -webkit-transition: opacity .5s ease, -webkit-transform 0 .5s linear;
}

.lp-legal-bg.lp-legal-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: opacity .5s ease, -webkit-transform 0 0 linear;
}

.lp-legal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  font-family: helvetica, arial, sans-serif;
  color: #868889;
  z-index: 9999;
  -webkit-transition: -webkit-transform .5s ease;
}

.lp-legal.lp-legal-active {
  -webkit-transform: translate3d(0, 0, 0) !important;
}

.lp-legal-btn {
  position: absolute;
  top: -20px;
  left: 0;
  width: 50px;
  height: 21px;
  background: #f1f1f1;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  line-height: 175%;
  cursor: pointer;
}

.lp-legal-text {
  position: relative;
  float: left;
  width: 480px;
  height: 65px;
  background: #f1f1f1;
  font-size: 11px;
  text-align: justify;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.legalOpen .pager-wrapper {
  opacity: 0;
  -webkit-transition: opacity 0s ease;
}

/*=== LEGAL css | fin ==========================*/