#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 480px;
  height: 480px;
  z-index: 100000;
  opacity: 0;
  pointer-events: none;
}

/* _reset.scss */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
}

img {
  display: block;
}

/* _style-guide.scss */

body {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  background: rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
}

body.lp-loaded {
  opacity: 1;
}

.lp-ad {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  overflow: hidden;
}

/*=== LEGAL css | debut ==========================*/

.lp-legal-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  cursor: pointer;
  z-index: 9998;
  -webkit-transform: translate3d(0, 325px, 0);
  -webkit-transition: opacity .5s ease, -webkit-transform 0 .5s linear;
}

.lp-legal-bg.lp-legal-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: opacity .5s ease, -webkit-transform 0 0 linear;
}

.lp-legal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: helvetica, arial, sans-serif;
  color: #868889;
  z-index: 9999;
  -webkit-transition: -webkit-transform .5s ease;
}

.lp-legal.lp-legal-active {
  -webkit-transform: translate3d(0, 0, 0) !important;
}

.lp-legal-btn {
  position: absolute;
  top: -20px;
  left: 0;
  width: 50px;
  height: 21px;
  background: #f1f1f1;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  line-height: 175%;
  cursor: pointer;
}

.lp-legal-text {
  position: relative;
  float: left;
  width: 480px;
  background: #f1f1f1;
  font-size: 11px;
  text-align: justify;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.legalOpen .pager-wrapper {
  opacity: 0;
  -webkit-transition: opacity 0s ease;
}

/*=== LEGAL css | fin ==========================*/

/*=== RETOURNER css | debut ====================*/

.flip {
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
}

.flip .front,
.flip .back {
  position: absolute;
  top: 0;
  left: 0;
}

.flip * {
  -webkit-backface-visibility: hidden;
}

.flip.active,
.back {
  -webkit-transform: rotateY(180deg);
}

.flipped .back {
  -webkit-transition: -webkit-transform 0s;
  -webkit-transform: translateZ(-2px) rotateY(-180deg);
}

/*=== RETOURNER css | fin ====================*/

/*=== GALERIE css | debut ====================*/

.logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  pointer-events: none;
}

.wrapper {
  z-index: 0;
  overflow: hidden;
  position: absolute;
}

.gallery {
  background: rgba(0, 0, 0, 0);
  z-index: 0;
}

.gallery .scroller {
  position: relative;
  float: left;
  height: 100%;
  z-index: 0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-size-adjust: none;
}

.gallery .scroller > div {
  float: left;
  position: relative !important;
  margin: 0;
  background: white;
}

.pager-wrapper {
  position: absolute;
  left: 0px;
  text-align: center;
  z-index: 1;
  opacity: 1;
  pointer-events: none;
}

.pager-wrapper .pager {
  position: relative;
  display: inline-block;
  background: black;
  list-style: none;
  padding: 4px;
  border-radius: 7.5px;
}

.pager-wrapper .pager li {
  position: relative;
  float: left;
  width: 5px;
  height: 5px;
  font-size: 0;
  background: #6e6e6e;
  border-radius: 50%;
  margin: 0 5px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: background .3s ease;
}

.pager-wrapper .pager li.selected {
  background: white;
}

.front .description {
  padding: 5px 10px 6px 15px;
  display: table;
}

.front .description div:nth-child(1) {
  width: 310px;
}

.front .description div:nth-child(1),
.front .description div:nth-child(2) {
  vertical-align: bottom;
  width: 310px;
}

.back .description {
  padding: 26px 10px 6px 39px;
  display: table-cell;
}

.back .description div:nth-child(1) {
  width: 310px;
}

.back .description div:nth-child(1),
.back .description div:nth-child(2) {
  vertical-align: top;
}

.back .wrapper-all {
  height: 265px;
  display: table;
}

.back .wrapper-height {
  height: 100%;
  display: table-row;
}

.back .wrapper-height .wrapper-infos {
  display: table-cell;
  vertical-align: middle;
}

.back .wrapper-height .wrapper-infos .infos {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 0 20px;
}

.back .pager-wrapper {
  top: 300px;
  width: 480px;
}

.back .logo {
  position: absolute;
  z-index: 3;
  -webkit-background-size: contain;
  background-size: contain;
  pointer-events: none;
}

.back .description .title,
.back .description .subtitle,
.back .description .price,
.back .description .infos,
.front .description .title,
.front .description .subtitle,
.front .description .price,
.front .description .infos {
  color: #333333;
}

.back .description div:nth-child(1),
.back .description div:nth-child(2),
.back .description .mention,
.front .description div:nth-child(1),
.front .description div:nth-child(2),
.front .description .mention {
  display: table-cell;
}

.back .description div:nth-child(2),
.front .description div:nth-child(2) {
  width: 145px;
  text-align: right;
}

.back .description .mention,
.front .description .mention {
  width: 170px;
  color: #333333;
  text-transform: uppercase;
}

.back .price,
.front .price {
  letter-spacing: -1px;
}

.back .price:after,
.front .price:after {
  font-size: 60%;
  vertical-align: super;
  content: "$";
}

.lp-480x325 {
  width: 480px;
  height: 325px;
  /*=== VIDEO css | debut ============================*/
  /*=== VIDEO css | fin ============================*/
}

.lp-480x325 .front .logo {
  width: 165px;
  height: 75px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.3s ease;
}

.lp-480x325 .front .logo.lp-video-active {
  opacity: 0;
}

.lp-480x325 .front .description {
  height: 78px;
}

.lp-480x325 .front .description .title {
  font: normal normal 16px/18px AmericanTypewriter;
}

.lp-480x325 .front .description .subtitle {
  font: normal normal 23px/23px AmericanTypewriter-Bold;
}

.lp-480x325 .front .description .mention {
  font: normal normal 12px/12px AmericanTypewriter;
}

.lp-480x325 .front .description .price {
  font: normal normal 33px/29px AmericanTypewriter-Bold;
}

.lp-480x325 .front .description div:nth-child(2) {
  width: 145px;
}

.lp-480x325 .front .pager-wrapper {
  top: 239px;
  width: 480px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.3s ease;
}

.lp-480x325 .front .pager-wrapper.lp-video-active {
  opacity: 0;
}

.lp-480x325 .back {
  width: 480px;
  height: 325px;
}

.lp-480x325 .back .description div:nth-child(2) {
  width: 210px;
}

.lp-480x325 .back .description .title {
  font: normal normal 19px/18px AmericanTypewriter;
  white-space: nowrap;
}

.lp-480x325 .back .description .subtitle {
  font: normal normal 23px/23px AmericanTypewriter-Bold;
}

.lp-480x325 .back .description .mention {
  font: normal normal 12px/14px AmericanTypewriter;
}

.lp-480x325 .back .description .price {
  font: normal normal 33px/29px AmericanTypewriter-Bold;
}

.lp-480x325 .back .description .rating {
  display: table-row;
}

.lp-480x325 .back .infos {
  font: normal normal 15px/20px AmericanTypewriter;
  -webkit-line-clamp: 6;
  width: 410px;
}

.lp-480x325 .back .logo {
  width: 115px;
  height: 55px;
  top: 265px;
  left: 305px;
}

.lp-480x325 .back .lp-legal-bg {
  width: 480px;
  height: 325px;
}

.lp-480x325 .back .lp-legal-text {
  width: 480px;
}

.lp-480x325 .gallery {
  width: 480px;
  height: 325px;
}

.lp-480x325 .gallery .scroller > div {
  width: 480px;
  height: 325px;
}

.lp-480x325 .lp-video-play {
  position: absolute;
  opacity: 1;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: opacity .5s ease, -webkit-transform 0 ease;
}

.lp-480x325 .lp-video-play.lp-video-active {
  opacity: 0;
  -webkit-transform: translate3d(-9999px, 0, 0);
  -webkit-transition: opacity .5s ease, -webkit-transform 0 .5s ease;
}

.lp-480x325 .lp-video-play {
  position: absolute;
  top: 118px;
  left: 206px;
  z-index: 1;
  width: 70px;
  height: 70px;
}

.lp-480x325 .lp-video-close {
  position: absolute;
  opacity: 0;
  z-index: 11;
  -webkit-transform: translate3d(-9999px, 0, 0);
  -webkit-transition: opacity .5s ease, -webkit-transform 0 .5s ease;
}

.lp-480x325 .lp-video-active .lp-video-close {
  top: -65px;
  right: 10px;
  width: 50px;
  height: 50px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: opacity .5s ease, -webkit-transform 0 ease;
}

.lp-480x325 .lp-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: 9;
  -webkit-transform: translate3d(-9999px, 0, 0);
  -webkit-transition: opacity .5s ease, -webkit-transform 0 .5s ease;
}

.lp-480x325 .lp-video-bg.lp-video-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: opacity .5s ease, -webkit-transform 0 ease;
}

.lp-480x325 .lp-video {
  position: absolute;
  opacity: 0;
  z-index: 10;
  -webkit-transform: translate3d(-9999px, 0, 0);
  -webkit-transition: opacity .5s ease, -webkit-transform 0 .5s ease;
}

.lp-480x325 .lp-video.lp-video-active {
  bottom: 0px;
  left: 0px;
  width: 480px;
  height: 247px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: opacity .5s ease, -webkit-transform 0 ease;
}

.lp-480x325 .lp-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  margin: 0;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 1;
}

.une-offre .front .description {
  float: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.une-offre .back {
  background-color: white;
}

.huitieme-v .front .description {
  float: none;
  position: absolute;
  bottom: 0;
}

.huitieme-v .back {
  background-color: white;
}