/* _reset.scss */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
}

@font-face {
  font-family: 'Rubrik_ExtraLight';
  src: url("../fonts/rubrik/Rubrik_ExtraLight.eot");
  src: url("../fonts/rubrik/Rubrik_ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/rubrik/Rubrik_ExtraLight.woff") format("woff"), url("../fonts/rubrik/Rubrik_ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubrik_Medium';
  src: url("../fonts/rubrik/Rubrik_Light.eot");
  src: url("../fonts/rubrik/Rubrik_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/rubrik/Rubrik_Light.woff") format("woff"), url("../fonts/rubrik/Rubrik_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verlag_Book';
  src: url("../fonts/verlag/Verlag_Book.eot");
  src: url("../fonts/verlag/Verlag_Book.eot?#iefix") format("embedded-opentype"), url("../fonts/verlag/Verlag_Book.woff") format("woff"), url("../fonts/verlag/Verlag_Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* _style-guide.scss */

body {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  background: #b1b3ba;
  overflow-x: hidden;
}

body.lp-loaded {
  opacity: 1;
}

.lp-ad {
  position: relative;
  width: 480px;
  height: 324px;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  overflow: hidden;
}

.lp-view {
  position: absolute;
  background-repeat: no-repeat;
  z-index: 0;
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 480px;
  height: 324px;
  z-index: 100000;
  opacity: 0;
  pointer-events: none;
}

/*=== RETOURNER css | debut ====================*/

.wrapperFlip {
  width: 480px;
  height: 324px;
  -webkit-perspective: 0;
}

.flip {
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
}

.flip .front,
.flip .back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
}

.flip * {
  -webkit-backface-visibility: hidden;
}

.flip.active,
.back {
  -webkit-transform: rotateY(180deg);
}

.flipped .back {
  -webkit-transition: -webkit-transform 0s;
  -webkit-transform: translateZ(-2px) rotateY(-180deg);
}

/*=== RETOURNER css | fin ====================*/

/*=== GALERIE css | debut ====================*/

#logo {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 165px;
  height: 75px;
  pointer-events: none;
}

.gallery {
  width: 480px;
  height: 324px;
  background: rgba(0, 0, 0, 0);
  z-index: 0;
}

.gallery .scroller {
  position: relative;
  float: left;
  width: 2400px;
  height: 100%;
  z-index: 0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.gallery .scroller > div {
  width: 480px;
  height: 324px;
  position: relative !important;
  float: left;
  margin: 0;
  background: white;
}

.pager-wrapper {
  position: absolute;
  top: 239px;
  left: 0px;
  width: 480px;
  text-align: center;
  z-index: 1;
}

.pager-wrapper .pager {
  position: relative;
  display: inline-block;
  background: black;
  list-style: none;
  padding: 4px;
  border-radius: 7.5px;
}

.pager-wrapper .pager li {
  position: relative;
  float: left;
  width: 5px;
  height: 5px;
  font-size: 0;
  background: #6e6e6e;
  border-radius: 50%;
  margin: 0 5px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: background .3s ease;
}

.pager-wrapper .pager li.selected {
  background: white;
}

.description {
  float: left;
  background: white;
  width: 100%;
  height: 78px;
  padding: 0px 10px 10px 15px;
}

.description div:nth-child(1) {
  float: left;
}

.description div:nth-child(2) {
  float: right;
  text-align: right;
}

.description .title:first-letter {
  text-transform: uppercase;
}

.description .title {
  display: table-cell;
  vertical-align: bottom;
  height: 44px;
  color: #4d4d4d;
  font: normal normal 18px/19px helvetica, sans-serif;
}

.description .subtitle {
  color: #4d4d4d;
  font: normal bold 23px/26px helvetica, sans-serif;
}

.description .caption {
  display: table-cell;
  vertical-align: bottom;
  width: 103px;
  height: 35px;
  color: #4d4d4d;
  font: normal normal 12px/12px helvetica, sans-serif;
  text-transform: uppercase;
}

.description .price {
  color: #333333;
  font: normal bold 33px/29px helvetica, sans-serif;
}

.description .price:after {
  font-size: 60%;
  vertical-align: super;
  content: "$";
}

/*=== GALERIE css | fin ====================*/