/* _reset.scss */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
}

img {
  display: block;
}

/* _fonts.scss */

@font-face {
  font-family: 'Rubrik_ExtraLight';
  src: url("../fonts/rubrik/Rubrik_ExtraLight.eot");
  src: url("../fonts/rubrik/Rubrik_ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/rubrik/Rubrik_ExtraLight.woff") format("woff"), url("../fonts/rubrik/Rubrik_ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubrik_Medium';
  src: url("../fonts/rubrik/Rubrik_Light.eot");
  src: url("../fonts/rubrik/Rubrik_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/rubrik/Rubrik_Light.woff") format("woff"), url("../fonts/rubrik/Rubrik_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verlag_Book';
  src: url("../fonts/verlag/Verlag_Book.eot");
  src: url("../fonts/verlag/Verlag_Book.eot?#iefix") format("embedded-opentype"), url("../fonts/verlag/Verlag_Book.woff") format("woff"), url("../fonts/verlag/Verlag_Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmericanTypewriter';
  src: url("../fonts/americantype/ameritypmed-webfont.eot");
  src: url("../fonts/americantype/ameritypmed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/americantype/ameritypmed-webfont.woff") format("woff"), url("../fonts/americantype/ameritypmed-webfont.ttf") format("truetype"), url("../fonts/americantype/ameritypmed-webfont.svg#itc_american_typewriterRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmericanTypewriter-Bold';
  src: url("../fonts/americantype/ameritypbol-webfont.eot");
  src: url("../fonts/americantype/ameritypbol-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/americantype/ameritypbol-webfont.woff") format("woff"), url("../fonts/americantype/ameritypbol-webfont.ttf") format("truetype"), url("../fonts/americantype/ameritypbol-webfont.svg#AmericanTypewriter-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* _style-guide.scss */

/* _form-header.scss */

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: #232323;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.main-header .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  z-index: 0;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}

.main-header .title h2 {
  position: relative;
  float: left;
  width: 25%;
  color: #fff;
  font-size: 1.12rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  line-height: 45px;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.main-header .action {
  position: relative;
  float: right;
  width: 40px;
  height: 45px;
  -webkit-background-size: 24px auto;
  background-size: 24px auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-header .action.lang {
  background-image: url("../images/lang-en.png");
}

[lang="en"] .main-header .action.lang {
  background-image: url("../images/lang-fr.png");
}

/* _form-footer.scss */

.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: #232323;
  color: #fff;
}

.main-footer .legend {
  position: relative;
  float: left;
  height: 100%;
  line-height: 45px;
  margin: 0 0 0 1rem;
}

.main-footer .legend .color {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.main-footer .legend .color.opt {
  background: #ffefc6;
}

html,
body {
  background: #fff;
  font-size: 16px;
  font-family: "Verlag_Book", Helvetica, Sans-Serif;
  overflow: hidden;
}

.btn {
  position: relative;
  display: inline-block;
  min-width: 100px;
  height: 44px;
  background: #f5f5f5;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, #f1f1f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, whitesmoke 0%, #f1f1f1 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, top left, bottom left, from(whitesmoke), to(#f1f1f1));
  background: linear-gradient(to bottom, whitesmoke 0%, #f1f1f1 100%);
  /* W3C */
  color: #404040;
  text-align: center;
  text-decoration: none;
  line-height: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
  border: solid 1px #cccccc;
  padding: 17px 10px;
  outline: none;
  cursor: pointer;
}

.btn.disabled {
  background: #f5f5f5;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, #f1f1f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, whitesmoke 0%, #f1f1f1 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, top left, bottom left, from(whitesmoke), to(#f1f1f1));
  background: linear-gradient(to bottom, whitesmoke 0%, #f1f1f1 100%);
  /* W3C */
  color: #404040;
  border: solid 1px #cccccc;
  opacity: .5;
  pointer-events: none;
}

.btn:hover {
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #f1f1f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, top left, bottom left, from(#f8f8f8), to(#f1f1f1));
  background: linear-gradient(to bottom, #f8f8f8 0%, #f1f1f1 100%);
  /* W3C */
}

.btn.lft {
  float: left;
}

.btn.rgt {
  float: right;
}

.btn.blue {
  background: #4d90fe;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d90fe), color-stop(100%, #4787ed));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4d90fe 0%, #4787ed 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, top left, bottom left, from(#4d90fe), to(#4787ed));
  background: linear-gradient(to bottom, #4d90fe 0%, #4787ed 100%);
  /* W3C */
  color: #fff;
  border: 1px solid #3079ed;
}

.btn.blue:hover {
  background: #4d90fe;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d90fe), color-stop(100%, #357ae8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4d90fe 0%, #357ae8 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, top left, bottom left, from(#4d90fe), to(#357ae8));
  background: linear-gradient(to bottom, #4d90fe 0%, #357ae8 100%);
  /* W3C */
  color: #fff;
  border-color: #2f5bb7;
}

.field.valid .btn {
  background: #4d90fe;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #188a09), color-stop(100%, #0f7801));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #188a09 0%, #0f7801 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, top left, bottom left, from(#188a09), to(#0f7801));
  background: linear-gradient(to bottom, #188a09 0%, #0f7801 100%);
  /* W3C */
  color: #fff;
  border: 1px solid #0d6a01;
}

.field.valid .btn:hover {
  background: #188a09;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #188a09), color-stop(100%, #0d6a01));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #188a09 0%, #0d6a01 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, top left, bottom left, from(#188a09), to(#0d6a01));
  background: linear-gradient(to bottom, #188a09 0%, #0d6a01 100%);
  /* W3C */
  color: #fff;
  border-color: #0d6a01;
}

.field.valid .btn.disabled {
  background: #f5f5f5;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, #f1f1f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, whitesmoke 0%, #f1f1f1 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, top left, bottom left, from(whitesmoke), to(#f1f1f1));
  background: linear-gradient(to bottom, whitesmoke 0%, #f1f1f1 100%);
  /* W3C */
  color: #404040;
  border: solid 1px #cccccc;
  opacity: .5;
  pointer-events: none;
}

.field.error .btn {
  background: #e87772;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e87772), color-stop(100%, #e80901));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e87772 0%, #e80901 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, top left, bottom left, from(#e87772), to(#e80901));
  background: linear-gradient(to bottom, #e87772 0%, #e80901 100%);
  /* W3C */
  color: #fff;
  border: 1px solid #e80901;
}

.field.error .btn:hover {
  background: #e87772;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e87772), color-stop(100%, #d20a02));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e87772 0%, #d20a02 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, top left, bottom left, from(#e87772), to(#d20a02));
  background: linear-gradient(to bottom, #e87772 0%, #d20a02 100%);
  /* W3C */
  color: #fff;
  border-color: #d20a02;
}

body.no2 .main-header .title,
body.no2 .steps {
  left: -100%;
}

body.no3 .main-header .title,
body.no3 .steps {
  left: -200%;
}

.form {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 45px 0;
  z-index: 0;
}

.form .steps {
  position: relative;
  left: 0%;
  float: left;
  width: 300%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}

.form .step {
  float: left;
  position: relative;
  width: 33.33%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.form .step.no3 .content {
  padding-top: 100px;
}

.form .step.no3 .footer label {
  float: right;
  width: 255px;
  font-size: .8rem;
  text-align: right;
  white-space: normal;
  margin: 0 10px 0 0;
}

.form .step.no3 .footer label input {
  position: relative;
  top: 15px;
  float: right;
}

.form .step.no3 .footer label span {
  display: inline-block;
  width: 230px;
  margin: 4px 0;
}

.form .step .content {
  position: relative;
  width: 500px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.form .step .content.extend {
  width: 1020px;
}

.form .step .content.extend .delete-offer {
  pointer-events: auto;
  opacity: 1;
}

.form .step .content.extend fieldset:nth-child(even) {
  margin-left: 20px;
}

.form .step .content .footer,
.form .step .content .header {
  float: left;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
}

.form .step .content .addOfferMsg {
  position: relative;
  float: right;
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.7);
  padding: 1rem 1rem 1rem 0;
}

.form .step .content .iframe {
  position: relative;
  float: left;
  width: 100%;
}

.form .step .content iframe {
  display: block;
  position: relative;
  background: #fff;
  border: solid 1px #888888;
  margin: 0 auto;
  overflow: hidden;
}

.form fieldset {
  position: relative;
  float: left;
  width: 500px;
  background: #eaeaea;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #888888;
  margin: 0 0 2rem 0;
  padding: 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.form fieldset.created {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.form fieldset:only-child {
  -webkit-transition: none;
  transition: none;
}

.form fieldset legend {
  position: relative;
  top: -16px;
  left: -1px;
  background: #eaeaea;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: solid 1px #888888;
  border-bottom: none;
  margin: 0;
  padding: .5rem 1rem 0 1rem;
}

.form fieldset legend .delete-offer {
  position: absolute;
  left: 100%;
  font-size: 1rem;
  text-transform: none;
  margin: 0 1rem;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.form fieldset legend .delete-offer a {
  color: #4d90fe;
}

.form .row {
  position: relative;
  float: left;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 455px 37px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: .5rem 1rem;
}

.form .row.opt {
  background-color: #ffefc6;
}

.form .row .half {
  position: relative;
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 200px 30px;
}

.form .row .half.opt {
  background-color: #ffefc6;
}

.form .row .half .input,
.form .row .half .textarea,
.form .row .half .select {
  width: 195px;
}

.form .row .half .file {
  width: 195px;
}

.form .row .half.error {
  background-image: url("../images/error-icon.png");
}

.form .row .half.error .input,
.form .row .half.error .textarea,
.form .row .half.error .select {
  border-color: #e80901;
}

.form .row .half.valid {
  background-image: url("../images/valid-icon.png");
}

.form .row .half.valid .input,
.form .row .half.valid .textarea,
.form .row .half.valid .select {
  border-color: #0f7801;
}

.form .row.error {
  background-image: url("../images/error-icon.png");
}

.form .row.error .input,
.form .row.error .textarea,
.form .row.error .select {
  border-color: #e80901;
}

.form .row.valid {
  background-image: url("../images/valid-icon.png");
}

.form .row.valid .input,
.form .row.valid .textarea,
.form .row.valid .select {
  border-color: #0f7801;
}

.form .lbl .msg {
  font-style: italic;
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.7);
}

.form .input,
.form .textarea,
.form .select {
  width: 430px;
  height: 44px;
  background: white;
  color: #404040;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
  border: solid 1px #cccccc;
  padding: 17px 10px;
  outline: none;
}

.form .input:hover,
.form .textarea:hover,
.form .select:hover {
  border: solid 1px #888888;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
}

.form .input:focus,
.form .textarea:focus,
.form .select:focus {
  border: solid 1px #4d90fe;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px inset;
}

.form .input.opt,
.form .opt.textarea,
.form .opt.select {
  background: #ffefc6;
}

.form .textarea {
  height: 90px;
}

.form .file:hover {
  border: solid 1px #888888;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
}

.form .file input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.form .file input.hide {
  display: none;
  -webkit-transform: translate3d(-60000px, 0, 0);
  -ms-transform: translate3d(-60000px, 0, 0);
  transform: translate3d(-60000px, 0, 0);
  pointer-events: none;
}

.form .file .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 44px;
  pointer-events: none;
  z-index: 0;
}

.form .preview {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}

.form .preview.active {
  border: solid 1px #0f7801;
}

.form .logo .preview {
  position: absolute;
  top: 30px;
  right: 9px;
  background-color: #fff;
}

.form .radio {
  position: relative;
  float: left;
  border: solid 1px #cccccc;
  margin: 0 6px;
  cursor: pointer;
}

.form .radio:first-child {
  margin-left: 0;
}

.form .radio:last-child {
  margin-right: 0;
}

.form .radio:hover {
  border: solid 1px #888888;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
}

.form .radio.valid {
  border-color: #0f7801;
  background-color: #0f7801;
}

.form input.dollar {
  background-image: url("../images/dollar-sign.png");
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

.form .radio-lbl {
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.7);
}

.form .multi-files {
  position: relative;
  float: left;
  width: 100%;
}

.form .multi-files .files-list {
  position: relative;
  float: left;
  list-style: none;
  margin: 1.5rem 0 0 0;
  padding: 0;
}

.form .multi-files .files-list li {
  position: relative;
  float: left;
  height: 24px;
}

.form .multi-files .files-list li a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size: .8rem;
  padding: .4rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transform: translateX(-9999px);
  -ms-transform: translateX(-9999px);
  transform: translateX(-9999px);
  -webkit-transition: -webkit-transform 0 .75s linear, opacity .5s .25s ease;
  transition: transform 0 .75s linear, opacity .5s .25s ease;
}

.popup .window {
  position: relative;
  top: 50%;
  width: 400px;
  height: 250px;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 30px 0 #000;
  box-shadow: 0 0 30px 0 #000;
  margin: 0 auto;
  padding: 20px;
  opacity: 0;
  -webkit-transform: translateY(-150px);
  -ms-transform: translateY(-150px);
  transform: translateY(-150px);
  -webkit-transition: -webkit-transform .25s 0 ease, opacity .25s ease;
  transition: transform .25s 0 ease, opacity .25s ease;
}

.popup .window .close {
  display: block;
  position: absolute;
  top: -45px;
  right: 0;
  width: 40px;
  height: 40px;
  background-image: url("../images/btn-close.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: 34px 34px;
  background-size: 34px 34px;
  z-index: 2;
  cursor: pointer;
}

.popup .window h2 {
  font-weight: normal;
  text-transform: uppercase;
}

.popup .window .text {
  position: relative;
  width: 100%;
  height: 120px;
  white-space: normal;
  margin: 15px 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.popup.active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0 0 linear, opacity .5s 0 ease;
  transition: transform 0 0 linear, opacity .5s 0 ease;
}

.popup.active .window {
  opacity: 1;
  -webkit-transform: translateY(-125px);
  -ms-transform: translateY(-125px);
  transform: translateY(-125px);
}