<!-- === Step 3 ================================================= -->
<section class="step no3">
	<iframe class="zipable"></iframe>
	<div class="content">
		<div class="iframe">
			<iframe class="render"></iframe>
		</div>

		<footer class="footer">
			<div class="btn lft js-previousStep js-goStep2">{{text.previous}}</div>
			<div class="btn blue rgt js-download disabled">{{text.download}}</div>
			<label>
				<input type="checkbox" name="iConfirm">
				<span>{{text.iConfirm}}</span>
			</label>
		</footer>
	</div>

	<div class="popup confirmation">
		<div class="window">
			<span class="close js-cancel"></span>
			<h2>{{text.confirmation}}</h2>
			<div class="text">
				{{#app.browser.isSafari}}
				<span style='color:rgba(255, 0, 0, 1)'>{{text.zipMac}}</span><br><br>
				{{/app.browser.isSafari}}
				{{text.confirmationText}}
			</div>
			<label>
				<div class="btn lft js-cancel">{{text.cancel}}</div>
				<div class="btn blue rgt js-confirm">{{text.download}}</div>
			</label>
		</div>
	</div>

	<div class="popup delete">
		<div class="window">
			<span class="close js-cancel"></span>
			<h2>{{text.confirmation}}</h2>
			<div class="text"></div>
			<label>
				<div class="btn lft js-cancel">{{text.cancel}}</div>
				<div class="btn blue rgt js-confirm">{{text.ok}}</div>
			</label>
		</div>
	</div>

	<div class="popup error">
		<div class="window">
			<span class="close js-cancel"></span>
			<h2>{{text.error}}</h2>
			<div class="text"></div>
		</div>
	</div>
</section>