<!-- === Step 2 ================================================= -->
<section class="step no2">
	<div class="content">
		<header class="header">
			<input name="offersNbr" type="hidden" value="0" />
			<a href="#" class="btn rgt addOffer">{{text.addOffer}}</a>
			<span class="addOfferMsg"></span>
		</header>
		<div class="offersList">
			<!-- public/templates/offer-tpl.mustache.html -->
		</div>

		<footer class="footer">
			<div class="btn lft js-previousStep js-goStep1">{{text.previous}}</div>
			<div class="btn blue rgt js-nextStep js-goStep3">{{text.next}}</div>
		</footer>
	</div>
</section>